{% extends 'registration/registration_base.html' %}
{% block content %}

{% load vdgsa_tags %}
{% load conclave_tags %}

<h3>Summary & Payment</h3>

<div class="mt-3 mb-2 fs-5">
  Conclave {{registration_entry.conclave_config.year}} Registration for {{registration_entry.user | show_name}}
</div>

{% if missing_sections %}
<div id="missing-sections-msg">
  <i class="bi bi-exclamation-triangle-fill"></i>
  You have not filled out the following required sections:
  <ul>
    {% for section in missing_sections%}
    <li>{{section}}</li>
    {% endfor %}
  </ul>
  Please complete them first and then return here to
  enter payment information and finalize your registration.
</div>
{% else %}
<div id="summary" class="mb-3">
  {% include 'registration/payment/summary.tmpl' %}

  <div style="border-bottom: 1px solid rgb(220, 220, 220);" class="my-3"></div>

  <table id="charges-table" class="table">
    <thead>
      <tr>
        <td class="fs-5">Summary of Charges So Far</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% if registration_entry.class_selection_is_required %}
      <tr id="tuition-charge-row">
        <td>
          {% if registration_entry.program != 'regular' %}
          Add-on
          {% endif %}
          Classes Selected: {{registration_entry.regular_class_choices.num_classes_selected}}
        </td>
        <td style="text-align: right;">
          {{registration_entry.tuition_charge}}
        </td>
      </tr>
      {% endif %}
      {% if registration_entry.late_fee %}
      <tr id="late-fee-charge-row">
        <td>
          Late registration
        </td>
        <td style="text-align: right;">{{registration_entry.late_fee}}</td>
      </tr>
      {% endif %}
      <tr id="tshirts-charge-row">
        <td>T-Shirts: {{registration_entry.num_tshirts}}</td>
        <td style="text-align: right;">{{registration_entry.tshirts_charge}}</td>
      </tr>
      <tr id="donation-charge-row">
        <td>Donation</td>
        <td style="text-align: right;">{{registration_entry.donation}}</td>
      </tr>
      <tr>
        <td><b>Total</b></td>
        <td id="total-charges-cell" style="text-align: right;">
          <b>{{registration_entry.total_charges}}</b>
        </td>
      </tr>
    </tbody>
  </table>
  {% if registration_entry.work_study %}
  <div id="work-study-charges-msg">
    If you receive your ${{registration_entry.tuition_charge}}
    Work-Study fee waiver, the total will be
    ${{registration_entry.total_minus_work_study}}.
    Work-Study positions will be awarded before June 1. Work-Study applicants
    will not be charged until positions are finalized.
  </div>
  {% endif %}
</div>

<form method="post" id="conclave-go-to-payment-form">
  {% csrf_token %}

  <p style="color: hotpink">
    Some text here about when we'll charge their card, how they won't
    be able to make changes after they enter their payment info, and how
    we don't store their credit card number.
  </p>

  <div class="row">
    <div class="col-md-4">
      {% include 'utils/form_field.tmpl' with field=form.name_on_card %}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
      {% include 'utils/form_field.tmpl' with field=form.card_number %}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-6 col-md-4">
      <div class="row gx-2">
        <div class="col-5">
          {% include 'utils/form_field.tmpl' with field=form.expiration_month label='Exp' %}
        </div>
        <div class="col-7">
          <!-- Empty label for horizontal alignment -->
          {% include 'utils/form_field.tmpl' with field=form.expiration_year label='  ' %}
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      {% include 'utils/form_field.tmpl' with field=form.cvc label="CVC" %}
    </div>
  </div>

  {% if stripe_error %}
  <div class="mt-2" id="stripe-error">{{stripe_error}}</div>
  {% endif %}

  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Finalize Registration</button>
  </div>

  {% if form.non_field_errors %}
    <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
    </div>
  {% endif %}
</form>

{% endif %}

<script>
$().ready(function() {
  if ($('#stripe-error').length) {
    document.getElementById('stripe-error').scrollIntoView();
  }
});
</script>

{% endblock %}

{% block page_style %}
{{block.super}}
<style>
#stripe-error {
  color: crimson;
  font-weight: bold;
}

#summary {
  border: 1px solid black;
  padding: .75rem 1rem;
}

#missing-sections-msg .bi-exclamation-triangle-fill {
  color: crimson;
}

@media only screen and (min-width: 768px) {
  #summary {
    width: 85%;
  }
}
</style>
{% endblock %}
