{% load conclave_tags %}

<div class="fs-5">Program</div>
<div id="chosen-program" class="ps-3">
  <b>{{registration_entry.program | format_program}}</b>
</div>

{% if class_selection_required %}
<div class="fs-5 mt-2">Work-Study</div>
<div id="work-study-summary" class="ps-3">
  Applying for a work-study position:
  <b>
    {% if registration_entry.work_study %}
    Yes
    {% else %}
    No
    {% endif %}
  </b>
</div>

<div class="fs-5 mt-2">Instruments</div>
<div id="instruments-summary">
  {% with is_beginner=registration_entry.program|is_beginner_program %}
    {% if is_beginner %}
      {% if registration_entry.beginner_instruments.needs_instrument == 'yes' %}
        <div class="ps-3">Needs help finding an instrument</div>
      {% else %}
        <div class="ps-3">Bringing a {{registration_entry.beginner_instruments.instrument_bringing}} viol</div>
      {% endif %}
    {% elif not registration_entry.instruments_bringing.count %}
    <div id="no-instruments-message" class="ps-3">You are not bringing any instruments.</div>
    {% else %}
    <ul>
      {% for instrument in registration_entry.instruments_bringing.all %}
      <li>{{instrument}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
</div>

<div class="fs-5 mt-2">Class Preferences</div>
<div id="classes-summary" class="ps-3">
  {% if class_selection_required and registration_entry.regular_class_choices.num_classes_selected == 0 %}
  <div id="no-classes-message">
    No classes selected
  </div>
  {% else %}
  <div>Period 1</div>
  <ul>
    <li>
      1st Choice:
      {% firstof registration_entry.regular_class_choices.period1_choice1 'No class' %}
      {% if registration_entry.regular_class_choices.period1_choice1 %}
        ({% firstof registration_entry.regular_class_choices.period1_choice1_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      2nd Choice:
      {% firstof registration_entry.regular_class_choices.period1_choice2 'No class' %}
      {% if registration_entry.regular_class_choices.period1_choice2 %}
        ({% firstof registration_entry.regular_class_choices.period1_choice2_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      3rd Choice:
      {% firstof registration_entry.regular_class_choices.period1_choice3 'No class' %}
      {% if registration_entry.regular_class_choices.period1_choice3 %}
        ({% firstof registration_entry.regular_class_choices.period1_choice3_instrument 'Any' %})
      {% endif %}
    </li>
  </ul>
  <div>Period 2</div>
  <ul>
    <li>
      1st Choice:
      {% firstof registration_entry.regular_class_choices.period2_choice1 'No class' %}
      {% if registration_entry.regular_class_choices.period2_choice1 %}
        ({% firstof registration_entry.regular_class_choices.period2_choice1_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      2nd Choice:
      {% firstof registration_entry.regular_class_choices.period2_choice2 'No class' %}
      {% if registration_entry.regular_class_choices.period2_choice2 %}
        ({% firstof registration_entry.regular_class_choices.period2_choice2_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      3rd Choice:
      {% firstof registration_entry.regular_class_choices.period2_choice3 'No class' %}
      {% if registration_entry.regular_class_choices.period2_choice3 %}
        ({% firstof registration_entry.regular_class_choices.period2_choice3_instrument 'Any' %})
      {% endif %}
    </li>
  </ul>
  <div>Period 3</div>
  <ul>
    <li>
      1st Choice:
      {% firstof registration_entry.regular_class_choices.period3_choice1 'No class' %}
      {% if registration_entry.regular_class_choices.period3_choice1 %}
        ({% firstof registration_entry.regular_class_choices.period3_choice1_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      2nd Choice:
      {% firstof registration_entry.regular_class_choices.period3_choice2 'No class' %}
      {% if registration_entry.regular_class_choices.period3_choice2 %}
        ({% firstof registration_entry.regular_class_choices.period3_choice2_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      3rd Choice:
      {% firstof registration_entry.regular_class_choices.period3_choice3 'No class' %}
      {% if registration_entry.regular_class_choices.period3_choice3 %}
        ({% firstof registration_entry.regular_class_choices.period3_choice3_instrument 'Any' %})
      {% endif %}
    </li>
  </ul>
  <div>Period 4</div>
  <ul>
    <li>
      1st Choice:
      {% firstof registration_entry.regular_class_choices.period4_choice1 'No class' %}
      {% if registration_entry.regular_class_choices.period4_choice1 %}
        ({% firstof registration_entry.regular_class_choices.period4_choice1_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      2nd Choice:
      {% firstof registration_entry.regular_class_choices.period4_choice2 'No class' %}
      {% if registration_entry.regular_class_choices.period4_choice2 %}
        ({% firstof registration_entry.regular_class_choices.period4_choice2_instrument 'Any' %})
      {% endif %}
    </li>
    <li>
      3rd Choice:
      {% firstof registration_entry.regular_class_choices.period4_choice3 'No class' %}
      {% if registration_entry.regular_class_choices.period4_choice3 %}
        ({% firstof registration_entry.regular_class_choices.period4_choice3_instrument 'Any' %})
      {% endif %}
    </li>
  </ul>
  {% endif %}
</div>
{% endif %}

<div class="fs-5 mt-2">T-Shirts</div>
{% with registration_entry.tshirts as tshirts %}
  {% if not tshirts or not tshirts.tshirt1 and not tshirts.tshirt2 %}
  <div id="no-tshirts-message" class="ps-3">No T-Shirts</div>
  {% else %}
    <ul id="tshirt-summary">
      {% if tshirts.tshirt1 %}
      <li>T-Shirt 1: <b>{{tshirts.tshirt1}}</b></li>
      {% endif %}
      {% if tshirts.tshirt2 %}
      <li>T-Shirt 2: <b>{{tshirts.tshirt2}}</b></li>
      {% endif %}
    </ul>
  {% endif %}
{% endwith %}

<div style="border-bottom: 1px solid rgb(220, 220, 220);" class="my-3"></div>

<table id="charges-table" class="table">
  <thead>
    <tr>
      <td class="fs-5">Summary of Charges So Far</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% if registration_entry.class_selection_is_required %}
    <tr id="tuition-charge-row">
      <td>
        {% if registration_entry.program != 'regular' %}
        Add-on
        {% endif %}
        Classes Selected: {{registration_entry.regular_class_choices.num_classes_selected}}
      </td>
      <td style="text-align: right;">
        {{registration_entry.tuition_charge}}
      </td>
    </tr>
    {% endif %}
    {% if registration_entry.late_fee %}
    <tr id="late-fee-charge-row">
      <td>
        Late registration
      </td>
      <td style="text-align: right;">{{registration_entry.late_fee}}</td>
    </tr>
    {% endif %}
    <tr id="tshirts-charge-row">
      <td>T-Shirts: {{registration_entry.num_tshirts}}</td>
      <td style="text-align: right;">{{registration_entry.tshirts_charge}}</td>
    </tr>
    <tr id="donation-charge-row">
      <td>Donation</td>
      <td style="text-align: right;">{{registration_entry.donation}}</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td id="total-charges-cell" style="text-align: right;">
        <b>{{registration_entry.total_charges}}</b>
      </td>
    </tr>
  </tbody>
</table>
{% if registration_entry.work_study %}
<div id="work-study-charges-msg">
  If you receive your ${{registration_entry.tuition_charge}}
  Work-Study fee waiver, the total will be
  ${{registration_entry.total_minus_work_study}}.
  Work-Study positions will be awarded before June 1. Work-Study applicants
  will not be charged until positions are finalized.
</div>
{% endif %}
