{% load humanize %}
{% load conclave_tags %}

<div class="fs-5">Program</div>
<div id="chosen-program" class="ps-3">
  <b>{{registration_summary.program | format_program}}</b>
</div>

{% if class_selection_required %}
<div class="fs-5 mt-2">Work-Study</div>
<div id="work-study-summary" class="ps-3">
  Applying for a work-study position:
  <b>{{registration_summary.work_study | yesno:'Yes,No'}}</b>
</div>
{% endif %}

{% if registration_summary.instruments %}
<div class="fs-5 mt-2">Instruments</div>
<div id="instruments-summary">
  <ul>
  {% for instrument in registration_summary.instruments %}
    <li>{{instrument}}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if registration_summary.classes %}
<div class="fs-5 mt-2">Classes</div>
<div id="classes-summary">
  {% if registration_summary.classes.flexible_class_preferences %}
  <ul>
    {% for pref in registration_summary.classes.flexible_class_preferences %}
    <li>{{forloop.counter | ordinal}} Choice: {{pref}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% with registration_summary.classes.per_period_class_preferences as classes %}
    {% if classes %}
      {% for period, prefs in classes.items %}
        {% if prefs %}
        <div>{{period | ordinal}} Period</div>
        <ul>
          {% for pref in prefs %}
          <li>{{forloop.counter | ordinal}} Choice: {{pref}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if registration_summary.classes.freebie_preferences %}
  <div>4th Period Freebie</div>
  <ul>
    {% for pref in registration_summary.classes.freebie_preferences %}
    <li>{{forloop.counter | ordinal}} Choice: {{pref}}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endif %}

{% if registration_summary.housing %}
<div class="fs-5 mt-2">Housing</div>
<ul>
  {% for item in registration_summary.housing %}
  <li>{{item}}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="fs-5 mt-2">T-Shirts</div>
  {% if registration_summary.tshirts %}
  <ol>
    {% for item in registration_summary.tshirts %}
    <li>{{item}}</li>
    {% endfor %}
  </ol>
  {% else %}
  <div class="ps-3">No T-Shirts</div>
  {% endif %}
</div>

<hr>

<table id="charges-table" class="table">
  <thead>
    <tr>
      <td class="fs-5">Summary of Charges So Far</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for charge in charges_summary.charges %}
    <tr>
      <td>{{charge.display_name}}</td>
      <td style="text-align: right">{{charge.amount}}</td>
    </tr>
    {% endfor %}

    {% if charges_summary.apply_work_study_scholarship %}
    <tr>
      <td>Work-Study Scholarship (If Awarded*)</td>
      <td style="text-align: right">-{{conclave_config.work_study_scholarship_amount}}</td>
    </tr>
    {% endif %}

    {% if charges_summary.apply_housing_subsidy %}
    <tr>
      <td>Limited-Income Housing Subsidy (If Available)</td>
      <td style="text-align: right">-{{conclave_config.housing_subsidy_amount}}</td>
    </tr>
    {% endif %}

    <tr>
      <td><b>Subtotal</b></td>
      <td style="text-align: right">{{charges_summary.subtotal}}</td>
    </tr>

    {% if charges_summary.apply_canadian_discount %}
    <tr>
      <td>Canadian Exchange Rate Discount</td>
      <td style="text-align: right">-{{conclave_config.canadian_discount_percent}}%</td>
    </tr>
    {% endif %}

    <tr>
      <td><b>Total</b></td>
      <td style="text-align: right">${{charges_summary.total}}</td>
    </tr>
  </tbody>
</table>
{% if charges_summary.apply_work_study_scholarship %}
<div id="work-study-charges-msg">
  *Work-Study positions will be awarded by June 15. Work-Study applicants
  will not be charged until positions are finalized.
</div>
{% endif %}
