{% load filters %}

{% if perms.accounts.membership_secretary %}
<fieldset>
  <legend>Secret Membership Secretary Fields</legend>

  <div>
    {% include 'utils/form_field.tmpl' with field=form.notes %}
  </div>

  <div class="mt-3">
    {% include 'utils/form_field.tmpl' with field=form.is_deceased %}
  </div>

  <div class="d-flex align-items-center mt-3">
    <button type="submit" class="btn btn-primary">Save</button>
    <div class="last-saved ms-2"></div>
  </div>
</fieldset>
{% endif %}

<fieldset class="mt-3">
  <legend>Contact Info</legend>

  {% include 'required_contact_info_form.tmpl' with form=form %}

  <div class="row mt-4">
    <div class="col-auto">
      {% include 'utils/form_field.tmpl' with field=form.phone1 label='Phone 1 (Optional)'%}
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-auto">
      {% include 'utils/form_field.tmpl' with field=form.phone2 label='Phone 2 (Optional)'%}
    </div>
  </div>

  <div class="d-flex align-items-center mt-3">
    <button type="submit" class="btn btn-primary">Save</button>
    <div class="last-saved ms-2"></div>
  </div>
</fieldset>

<fieldset class="mt-3">
  <legend>Please check or fill in all that apply to you</legend>
  <div class="input-group mb-3">
    {% include 'utils/form_field.tmpl' with field=form.is_young_player label='I identify as a young player' %}
  </div>

  <div class="input-group">
    {% include 'utils/form_field.tmpl' with field=form.is_teacher label='I am a teaching member' %}
  </div>

  <div class="ms-4">
    {% include 'utils/form_field.tmpl' with field=form.is_remote_teacher label='I am willing to teach online' %}

    <div class="mt-2">
      <label for="{{form.teacher_description.id_for_label}}" class="form-label">
        Briefly describe who and what you teach
        (<span id="teacher-description-num-chars-used">
        </span>/{{form.fields.teacher_description.max_length}} chars)
      </label>
      {{form.teacher_description | add_classes:"form-control"}}
      {{form.teacher_description.errors}}
    </div>
  </div>

  <div class="mt-3">
    <label for="{{form.educational_institution_affiliation.id_for_label}}" class="form-label">
      If you are affiliated with an educational institution, please list it here <br>
    </label>
    {{form.educational_institution_affiliation | add_classes:"form-control"}}
    {{form.educational_institution_affiliation.errors}}
  </div>

  <div class="mt-3">I am a commercial member (select all that apply)</div>
  <div class="ms-1">
    {% include 'utils/form_field.tmpl' with field=form.is_instrument_maker label='Instrument Maker' %}
    {% include 'utils/form_field.tmpl' with field=form.is_bow_maker label='Bow Maker' %}
    {% include 'utils/form_field.tmpl' with field=form.is_repairer label='Repairer' %}
    {% include 'utils/form_field.tmpl' with field=form.is_publisher label='Publisher' %}
    <div>
      <div class="form-check">
        <!-- This checkbox is just for show. -->
        <input
          class="form-check-input"
          type="checkbox"
          {% if user.other_commercial %}
          checked
          {% endif %}
        >
        <label class="form-check-label">
          Other (please specify)
        </label>
      </div>
      <div class="ms-4">
        {{form.other_commercial | add_classes:"form-control"}}
      </div>
      {{form.other_commercial.errors}}
    </div>
  </div>

  <div class="d-flex align-items-center mt-3">
    <button type="submit" class="btn btn-primary">Save</button>
    <div class="last-saved ms-2"></div>
  </div>
</fieldset>

<fieldset class="mt-3">
  <legend>Privacy</legend>

  <div class="form-check">
    <label class="form-check-label">
      Do not send me society emails (We email members very rarely with important announcements)
    </label>
    {{form.do_not_email | add_classes:"form-check-input"}}
    {{form.do_not_email.errors}}
  </div>

  <div class="mt-2">
    Include the following in the <b>membership directory</b>
    (available only to members):
  </div>
  <div class="ms-1">
    <div class="form-check">
      <label class="form-check-label">
        Name
      </label>
      {{form.include_name_in_membership_directory | add_classes:"form-check-input"}}
      {{form.include_name_in_membership_directory.errors}}
    </div>
    <div class="form-check">
      <label class="form-check-label">
        Email
      </label>
      {{form.include_email_in_membership_directory | add_classes:"form-check-input"}}
      {{form.include_email_in_membership_directory.errors}}
    </div>
    <div class="form-check">
      <label class="form-check-label">
        Address
      </label>
      {{form.include_address_in_membership_directory | add_classes:"form-check-input"}}
      {{form.include_address_in_membership_directory.errors}}
    </div>
    <div class="form-check">
      <label class="form-check-label">
        Phone number
      </label>
      {{form.include_phone_in_membership_directory | add_classes:"form-check-input"}}
      {{form.include_phone_in_membership_directory.errors}}
    </div>
  </div>

  <div class="mt-3">
    The VdGSA is committed to protecting your privacy. <br>
    The information we collect is for the purpose of providing you with the goods and
    services we offer. <br>
    You can change these settings at any time. <br>
    <a href="https://public.vdgsa.org/privacy-policy" target="_blank">
      Read our full privacy policy here.
    </a>
  </div>
</fieldset>

<script>
$().ready(function() {
  $('#teacher-description-num-chars-used').text($('#id_teacher_description').val().length);

  $('#id_teacher_description').on('input', function() {
    $('#teacher-description-num-chars-used').text($(this).val().length);
  });
});
</script>
