<fieldset>
  <legend>Contact Info</legend>

  <div class="input-wrapper">
    <label class="label">
      First Name <br>
      {{form.first_name}}
    </label>
    {{form.first_name.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      Last Name <br>
      {{form.last_name}}
    </label>
    {{form.last_name.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      Address Line 1 <br>
      {{form.address_line_1}}
    </label>
    {{form.address_line_1.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      Address Line 2 (Optional)<br>
      {{form.address_line_2}}
    </label>
    {{form.address_line_2.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      City <br>
      {{form.address_city}}
    </label>
    {{form.address_city.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      State <br>
      {{form.address_state}}
    </label>
    {{form.address_state.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      ZIP/Postal Code <br>
      {{form.address_postal_code}}
    </label>
    {{form.address_postal_code.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      Country <br>
      {{form.address_country}}
    </label>
    {{form.address_country.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      Phone 1 (optional)<br>
      {{form.phone1}}
    </label>
    {{form.phone1.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      Phone 2 (optional)<br>
      {{form.phone2}}
    </label>
    {{form.phone2.errors}}
  </div>

  <div class="d-flex align-items-center mt-2">
    <button type="submit" class="btn btn-success">Save</button>
    <div class="last-saved ms-2"></div>
  </div>
</fieldset>

<fieldset class="mt-3">
  <legend>Please check or fill in all that apply to you</legend>
  <div class="input-wrapper mb-3">
    <label class="label">
      {{form.is_young_player}}
      I identify as a young player
    </label>
    {{form.is_young_player.errors}}
  </div>

  <div class="input-wrapper">
    <label class="label">
      {{form.is_teacher}}
      I am a teaching member
    </label>
    {{form.is_teacher.errors}}
  </div>

  <div class="ms-3">
    <div class="input-wrapper">
      <label class="label">
        {{form.is_remote_teacher}}
        I am willing to teach online
      </label>
      {{form.is_remote_teacher.errors}}
    </div>

    <div class="input-wrapper">
      <label class="label">
        Briefly describe who and what you teach
        (<span id="teacher-description-num-chars-used">
        </span>/{{form.fields.teacher_description.max_length}} chars) <br>
        {{form.teacher_description}}
      </label>
      {{form.teacher_description.errors}}
    </div>
  </div>

  <div class="input-wrapper mt-3">
    <label class="label">
      If you are affiliated with an educational institution, please list it here <br>
      {{form.educational_institution_affiliation}}
    </label>
    {{form.educational_institution_affiliation.errors}}
  </div>

  <div class="mt-3">I am a commercial member (select all that apply)</div>
  <div class="ms-1">
    <div class="input-wrapper">
      <label class="label">
        {{form.is_builder}}
        Builder
      </label>
      {{form.is_builder.errors}}
    </div>
    <div class="input-wrapper">
      <label class="label">
        {{form.is_publisher}}
        Publisher
      </label>
      {{form.is_publisher.errors}}
    </div>
    <div class="input-wrapper">
      <label class="label">
        <input
          type="checkbox"
          {% if user.other_commercial %}
          checked
          {% endif %}
        >
        Other (please specify) <br>
      </label>
      <div class="ms-3">
        {{form.other_commercial}}
      </div>
      {{form.other_commercial.errors}}
    </div>
  </div>

  <div class="d-flex align-items-center mt-2">
    <button type="submit" class="btn btn-success">Save</button>
    <div class="last-saved ms-2"></div>
  </div>
</fieldset>

<fieldset class="mt-3">
  <legend>Privacy</legend>

  <div class="input-wrapper">
    <label class="label">
      {{form.do_not_email}}
      Do not email me ever (We email members very rarely with important announcements)
    </label>
    {{form.do_not_email.errors}}
  </div>

  <div class="mt-2">
    Include the following in the <b>membership directory</b>
    (available only to members):
  </div>
  <div class="ms-1">
    <div class="input-wrapper">
      <label class="label">
        {{form.include_name_in_membership_directory}}
        Name
      </label>
      {{form.include_name_in_membership_directory.errors}}
    </div>
    <div class="input-wrapper">
      <label class="label">
        {{form.include_email_in_membership_directory}}
        Email
      </label>
      {{form.include_email_in_membership_directory.errors}}
    </div>
    <div class="input-wrapper">
      <label class="label">
        {{form.include_address_in_membership_directory}}
        Address
      </label>
      {{form.include_address_in_membership_directory.errors}}
    </div>
    <div class="input-wrapper">
      <label class="label">
        {{form.include_phone_in_membership_directory}}
        Phone number
      </label>
      {{form.include_phone_in_membership_directory.errors}}
    </div>
  </div>

  <p class="mt-3">
    The VdGSA is committed to protecting your privacy. <br>
    The information we collect is for the purpose of providing you with the goods and
    services we offer. <br>
    You can change these settings at any time. <br>
    <a href="https://public.vdgsa.org/privacy-policy" target="_blank">
      Read our full privacy policy here.
    </a>
  </p>
</fieldset>

<script>
$().ready(function() {
  $('#teacher-description-num-chars-used').text($('#id_teacher_description').val().length);

  $('#id_teacher_description').on('input', function() {
    $('#teacher-description-num-chars-used').text($(this).val().length);
  });
});
</script>
