{% extends 'base.html' %}
{% block content %}

{% load filters %}

<h2>Login Info</h2>
<div><b>Email</b></div>
<div>
  <span id="current-username">{{object.username}}</span>
  <a
    id="show-change-email-form"
    href="javascript:void(false)"
    onclick="show_element('change-email-form')"
  >(Change)</a>
</div>

<form
  id="change-email-form"
  method="post"
  action="{% url 'change-email-request' pk=object.pk %}"
>
  {% csrf_token %}
  {% include 'utils/form_body.tmpl' with form=change_email_form %}

  <div id="email-in-use-msg"></div>

  <button type="submit">Submit</button>
  <button id="change-email-cancel-button" type="button" onclick="hide_element('change-email-form')">
    Cancel
  </button>
</form>

<div id="change-email-msg"></div>

{% if not perms.accounts.membership_secretary %}
<div>
  <b>Password</b>
  <a href="{% url 'password_change' %}">(Change)</a>
</div>
{% endif %}

<h2>Membership</h2>

{% if object.subscription is None %}
  <div>
    <a href="javascript:void(false)"
       onclick="show_element('purchase-subscription-form')">
      Become a member
    </a>
  </div>
{% elif object.subscription.membership_type == 'lifetime' %}
  <div>Your membership is valid forever!</div>
{% elif object.subscription.owner != object %}
  <div>You are a family member on {{object.subscription.owner | show_name}}'s membership.</div>
  <div>
    Your membership is valid until
    <span id="valid-until-timestamp">
      {% format_datetime object.subscription.valid_until none_ok=True %}
    </span>
  </div>
{% else %}
  <!-- TODO: different message if membership expired -->
  <div>
    Your membership is valid until
    <span id="valid-until-timestamp">
      {% format_datetime object.subscription.valid_until none_ok=True %}
    </span>
  </div>
  <div>Family Members</div>
  <div id="family-member-list">
    {% for member in object.subscription.family_members.all %}
    <div class="family-member">
      - {{member | show_name}}
      <form
        class="remove-family-member-form"
        method="post"
        action="{% url 'remove-family-member' pk=object.subscription.pk %}"
      >
        {% csrf_token %}
        <input type="hidden" value="{{member.username}}" name="username">
        <button type="submit">(Remove)</button>
      </form>
    </div>
    {% endfor %}
    {% if object.subscription.family_members.count < 3 %} <!-- TODO: get actual number -->
    <form
      id="add-family-member-form"
      method="post"
      action="{% url 'add-family-member' pk=object.subscription.pk %}"
    >
      {% csrf_token %}
      {% include 'utils/form_body.tmpl' with form=add_family_member_form %}
      <button type="submit">Add</button>
    </form>
    {% endif %}
  </div>

  <div>
    <a href="javascript:void(false)"
       onclick="show_element('purchase-subscription-form')">
      Renew your membership
    </a>
  </div>
{% endif %}

<form
  id="purchase-subscription-form"
  method="post"
  action="{% url 'purchase-subscription' pk=object.pk %}"
>
  {% csrf_token %}
  {% include 'utils/form_body.tmpl' with form=membership_renewal_form %}

  <div class="redirect-info-msg">
    Clicking "Checkout" will redirect you to Stripe. <br>
    Please enter your payment info there.
  </div>
  <button type="submit">Checkout</button>
  <a href="javascript:void(false)" onclick="hide_element('purchase-subscription-form')">
    Cancel
  </a>
</form>

<h2>Profile</h2>

<form id="user-profile-form" method="post" action="{% url 'user-profile' pk=object.pk %}">
  {% csrf_token %}
  <div class='form-body-wrapper'>
    {% include 'user_profile/edit_profile_form.html' with form=edit_profile_form %}
  </div>

  <button type="submit">Save</button>
  <span class="last-saved"></span>
</form>

<style>
#change-email-form, #purchase-subscription-form {
  display: none;
}

.remove-family-member-form {
  display: inline-block;
}
</style>

<script src="https://js.stripe.com/v3/"></script>

<script>
$().ready(function() {
  setup_ajax_submit('change-email-form', {
    before_submit: function() {
      $('#email-in-use-msg').text('');
    },
    success: function(form, response_data) {
      if (response_data.status === 'form_validation_error') {
        update_form_body(form, response_data.rendered_form);
        return;
      }

      if (response_data.status === 'other_error' && response_data.extra_data.username_in_use) {
        $('#email-in-use-msg').text(
          `The username "${response_data.extra_data.requested_username}" is in use by another account.`
        );
      }

      if (response_data.extra_data.change_pending_msg) {
        $('#change-email-msg').html(response_data.extra_data.change_pending_msg);
      }

      if (response_data.extra_data.new_username) {
        $('#current-username').text(response_data.extra_data.new_username);
      }

      $('#id_new_email').val('');
    }
  });

  setup_ajax_submit('user-profile-form', {
    success: function(form, response_data) {
      $('#user-profile-form .last-saved').text(
        `Saved at ${(new Date()).toLocaleTimeString()}`
      );
    }
  });

  setup_ajax_submit('purchase-subscription-form', {
    success: function(form, response_data) {
      if (response_data.status === 'form_validation_error') {
        update_form_body(form, response_data.rendered_form);
        return;
      }

      if (response_data.extra_data.stripe_session_id) {
        $('#purchase-subscription-form button[type=submit]').text('Redirecting');
        let stripe = Stripe('pk_test_exu8BRND2VeS4HJ8V2xEZDeK');
        stripe.redirectToCheckout({
          sessionId: session_id
        });
        return;
      }

      if (response_data.rendered_form) {
        $('#change-email-msg').html(response_data.extra_data.change_pending_msg);
      }

    }
  });

  setup_ajax_submit('add-family-member-form');

  $('.remove-family-member-form').each(function(index, element) {
    let form = $(element);
    form.on('submit', function(event) {
      event.preventDefault();

      let username = form.find('input[name=username]').val();
      console.log(username);
      if (!confirm(`Remove ${username} from your membership?`)) {
        return;
      }

      $.post(
        form.attr('action'),
        form.serialize(),
        function() {
          $('.family-member').eq(index).remove();
        }
      ).fail(function(response) {
        // TODO: better error message
        alert('An unexpected error occured');
      });
    });
  });
});

function show_element(id) {
  document.getElementById(id).style.display = 'block';
}

function hide_element(id) {
  document.getElementById(id).style.display = 'none';
}

function remove_family_member(url, username, index) {
  $.post(url, {'username': username}).then(function() {
    $('.family-member').eq(index).remove();
  }).error(function(response) {
    // TODO: better error message
    alert('An unexpected error occured');
  });
}

function disable_form_buttons(form) {
  form.find('button').attr('disabled', true);
}

function update_form_body(form, response_data) {
  if (response_data.rendered_form) {
  // IMPORTANT: This class selector should match the class used in
  // templates/utils/form_body.tmpl
  // Check for other occurrences of this class when changing.
    form.find('.form-body-wrapper').html(response_data.rendered_form);
  }
}

function reenable_form_buttons(form) {
  form.find('button').attr('disabled', false);
}

function setup_ajax_submit(
  form_id,
  {
    before_submit = disable_form_buttons,
    success = update_form_body,
    complete = reenable_form_buttons,
  }
) {
  let form = $('#' + form_id);
  form.on('submit', function(event) {
    event.preventDefault();
    before_submit(form);

    $.ajax(form.attr('action'), {
      type: 'POST',
      data: form.serialize(),
      success: function(data) {
        success(form, data)
      },
      error: function(response) {
        console.log(response);
        // TODO: detect network/other errors and adjust message
        alert('An unexpected error occured');
      },
      complete: function() {
        complete(form);
      }
    });
  });
}
</script>

{% endblock %}
