{% extends 'base.html' %}

{% block page_style %}
<style>
  .remove-family-member-form {
    display: inline-block;
  }

  #valid-until-timestamp {
    color: seagreen;
    font-weight: bold;
  }

  /* In membership-subscription.tmpl */
  #show-membership-purchase-wrapper {
    font-size: 1.375rem;
    background-color: lightblue;
    color: black;
    padding: .25rem .625rem;
    display: inline-block;
  }

  #add-family-member-input-wrapper {
    display: flex;
    align-items: center;
  }

  #add-family-member-input-wrapper input {
    margin-right: .25rem;
    font-size: .875rem;
  }

  #show-membership-purchase {
    text-decoration: none;
    color: black;
  }
</style>
{% endblock %}

{% block content %}

{% load filters %}

{% if perms.accounts.membership_secretary %}
<div class="mb-2">
  <a id="all-users-link" href="{% url 'membership-secretary' %}">&lt All Users</a>
</div>
{% endif %}

<div id="membership-subscription-wrapper">
  {% include 'membership_subscription.tmpl' with user=object form=membership_renewal_form %}
</div>


{% if object.subscription is not None %}

<div class="mt-4" id="login-info-wrapper">
  <h3>Login Info</h3>
  <div><b>Email</b></div>
  <div class="input-group input-group-sm mb-2">
    <span id="current-username" class="input-group-text">{{object.username}}</span>
    <button type="button" class="btn btn-primary"
      id="show-change-email-form"
      data-bs-toggle="collapse"
      data-bs-target="#change-email-form"
      aria-expanded="false"
      aria-controls="change-email-form"
    >Change</button>
  </div>

  <form
    id="change-email-form"
    class="collapse"
    method="post"
    action="{% url 'change-email-request' pk=object.pk %}"
  >
    {% csrf_token %}
    {% include 'utils/form_body.tmpl' with form=change_email_form %}

    <div id="email-in-use-msg"></div>

    <div class="mt-2">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        id="change-email-cancel-button"
        class="btn btn-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#change-email-form"
        aria-controls="change-email-form"
      >
        Cancel
      </button>
    </div>
    <div id="change-email-msg"></div>
  </form>


  {% if object == current_authenticated_user %}
  <!-- See https://getbootstrap.com/docs/5.0/utilities/spacing/ -->
  <div class="my-3">
    <a id="password-change-link" href="{% url 'password_change' %}">Change Password</a>
  </div>
  {% endif %}
</div>

<div class="mt-4">
  <h3>Profile</h3>
  <form id="user-profile-form" method="post" action="{% url 'user-profile' pk=object.pk %}">
    {% csrf_token %}
    <div class='form-body-wrapper'>
      {% include 'user_profile/edit_profile_form.tmpl' with user=object form=edit_profile_form %}
    </div>

    <div class="d-flex align-items-center mt-2">
      <button type="submit" class="btn btn-success">Save</button>
      <div class="last-saved ms-2"></div>
    </div>
  </form>
</div>

{% endif %}

<script src="https://js.stripe.com/v3/"></script>

<script>
$().ready(function() {
  setup_ajax_submit('change-email-form', {
    before_submit: function() {
      $('#email-in-use-msg').text('');
    },
    success: function(form, response_data) {
      if (response_data.status === 'form_validation_error') {
        update_form_body(form, response_data);
        return;
      }

      if (response_data.status === 'other_error' && response_data.extra_data.username_in_use) {
        $('#email-in-use-msg').text(
          `The username "${response_data.extra_data.requested_username}" is in use by another account.`
        );
      }

      if (response_data.extra_data.change_pending_msg) {
        $('#change-email-msg').html(response_data.extra_data.change_pending_msg);
      }

      if (response_data.extra_data.new_username) {
        $('#current-username').text(response_data.extra_data.new_username);
      }

      $('#id_new_email').val('');
    }
  });

  setup_ajax_submit('user-profile-form', {
    success: function(form, response_data) {
      $('#user-profile-form .last-saved').text(
        `Saved at ${(new Date()).toLocaleTimeString()}`
      );
    }
  });

  function on_purchase_subscription_form_submit(event) {
    event.preventDefault();
    disable_form_buttons(purchase_subscription_form);

    $.ajax(purchase_subscription_form.attr('action'), {
      type: 'POST',
      data: purchase_subscription_form.serialize(),
      success: function(response_data) {
        if (response_data.extra_data.stripe_session_id) {
          $('#purchase-subscription-form button[type=submit]').text('Redirecting');
          let stripe = Stripe('pk_test_exu8BRND2VeS4HJ8V2xEZDeK');
          stripe.redirectToCheckout({
            sessionId: response_data.extra_data.stripe_session_id
          });
        }
        else {
          console.log(response_data);
          $('#membership-subscription-wrapper').html(response_data.rendered_form);
          $('#purchase-subscription-form').on('submit', on_purchase_subscription_form_submit);
          reenable_form_buttons(purchase_subscription_form);
        }
      },
      error: function(response) {
        console.log(response);
        // TODO: detect network/other errors and adjust message
        alert('An unexpected error occured');
        reenable_form_buttons(purchase_subscription_form);
      }
    });
  }

  let purchase_subscription_form = $('#purchase-subscription-form');
  purchase_subscription_form.on('submit', on_purchase_subscription_form_submit);

  setup_ajax_submit('add-family-member-form', {
    success: function(form, response_data) {
      if (response_data.status === 'success') {
        window.location.reload();
      }
      else if (response_data.status === 'other_error' && response_data.extra_data.error_msg) {
        window.alert(response_data.extra_data.error_msg);
      }
    },
  });

  $('.remove-family-member-form').each(function(index, element) {
    let form = $(element);
    form.on('submit', function(event) {
      event.preventDefault();

      let username = form.find('input[name=username]').val();
      console.log(username);
      if (!confirm(`Remove ${username} from your membership?`)) {
        return;
      }

      $.post(
        form.attr('action'),
        form.serialize(),
        function() {
          window.location.reload();
        }
      ).fail(function(response) {
        // TODO: better error message
        alert('An unexpected error occured');
      });
    });
  });
});

function toggle_element(id) {
  $(`#${id}`).toggle();
}

function hide_element(id) {
  document.getElementById(id).style.display = 'none';
}

function remove_family_member(url, username, index) {
  $.post(url, {'username': username}).then(function() {
    $('.family-member').eq(index).remove();
  }).error(function(response) {
    // TODO: better error message
    alert('An unexpected error occured');
  });
}

function disable_form_buttons(form) {
  form.find('button').attr('disabled', true);
}

// IMPORTANT: This default class selector should match the class used in
// templates/utils/form_body.tmpl
// Check for other occurrences of this class when changing.
function update_form_body(form, response_data, body_selector = '.form-body-wrapper') {
  if (response_data.rendered_form) {
    form.find(body_selector).html(response_data.rendered_form);
  }
}

function reenable_form_buttons(form) {
  form.find('button').attr('disabled', false);
}

function setup_ajax_submit(
  form_id,
  {
    before_submit = disable_form_buttons,
    success = update_form_body,
    complete = reenable_form_buttons,
  }
) {
  let form = $('#' + form_id);
  form.on('submit', function(event) {
    event.preventDefault();
    before_submit(form);

    $.ajax(form.attr('action'), {
      type: 'POST',
      data: form.serialize(),
      success: function(data) {
        success(form, data)
      },
      error: function(response) {
        console.log(response);
        // TODO: detect network/other errors and adjust message
        alert('An unexpected error occured');
      },
      complete: function() {
        complete(form);
      }
    });
  });
}
</script>

{% endblock %}
