<a href="{% url 'edit-user-profile' pk=object.pk %}">Edit</a>
<div>
  <b>Username:</b> {{object.username}}
  <a href="{% url 'change-email-request' pk=object.pk %}">Change Username</a>
</div>
<div><b>First Name</b>: {{object.first_name}}</div>
<div><b>Last Name</b>: {{object.last_name}}</div>

{% if object.subscription is None %}
<div><a href="{% url 'purchase-subscription' pk=object.pk %}">Become a member</a></div>
{% else %}
<div>Your membership is valid until {{object.subscription.valid_until}}.</div>
<div><a href="{% url 'purchase-subscription' pk=object.pk %}">Renew your membership</a></div>
{% endif %}
