[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
django-stubs = "*"
autopep8 = "*"
pycodestyle = "*"
pydocstyle = "*"
isort = "*"
pyyaml = "*"
uritemplate = "*"
selenium = "*"

[packages]
django = "<3.3"
psycopg2 = "*"
django-extensions = "*"
django-cors-headers = "*"
stripe = "*"
pillow = "*"
django-markdownify = "*"
python-dateutil = "*"

[requires]
python_version = "3.10"
