[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
autopep8 = "*"
pycodestyle = "*"
pydocstyle = "*"
isort = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-extensions = "*"
django-allauth = "*"

[requires]
python_version = "3.8"
