{% extends 'base.html' %}
{% block content %}

{# This template is used with django.contrib.auth.views.LoginView #}

<h3>Log in to your VdGSA account</h3>

<form method="post">
  {% csrf_token %}
  {% include 'utils/form_body.tmpl' %}
  <div class="mt-2">
    <button type="submit" class="btn btn-primary">Sign In</button>
  </div>
  <div>
    <a href="{% url 'password_reset' %}">Forgot Password</a>
  </div>
  <div>
    <a href="{% url 'user-registration' %}">Create an Account</a>
  </div>
</form>

{% endblock %}
