{% extends '../rentals.html' %}
{% load rental_tags %}
{% block content %}

<div class="card text-end">
  <div class="card-header">
    {% if object.viol_num %}
    <a href="{% url 'viol-detach' %}?bow_num={{ object.bow_num }}&viol_num={{ object.viol_num.viol_num }}" class="btn btn-primary" >Detach from viol</a> 
    {% else %}
    <a href="{% url 'viol-attach' %}?bow_num={{ object.bow_num }}" class="btn btn-primary" >Attach to viol</a> 
    {% endif %}
    <a href="{% url 'viol-attach' %}?case_num={{ object.case_num }}" class="btn disabled" disabled>Retire</a> 
    <a href="{% url 'viol-attach' %}?case_num={{ object.case_num }}" class="btn disabled" disabled>Unretire</a> 
    <a href="{% url 'bow-update' object.bow_num %}" class="btn btn-primary" >Edit</a> 
</div>
</div>
<div class="container border mt-3 mb-3 p-3">
  <div class="row">
    <div class="col">
      <p class="h3">{{object}}</p>
    </div>
  </div>

  

  {% instrument_detail object request %}
</div>

    <div class="row p-3">
      <div class="col">Images</div>
      <div class="col">
        {% for image in images.all %}
        <a
          onClick="showModalImage('/uploads/{{image}}')"
          ><img height="100" src="/uploads/{{image}}"
        /></a>
        {% endfor %}
      </div>
      <div class="col">
        <a
          class="btn btn-primary"
          href="{% url 'add-image' to='bow' pk=object.bow_num %}"
          >Add picture</a
        >
      </div>
    </div>


{% history_table object.history %}

{% endblock %}

{% block modals %}
    <script>
      function showModalImage(imageUrl) {
        $("#modalImage").attr("src", imageUrl);
        $("#imageModal").modal("show");
      }
    </script>
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modalImage" width="500" src="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}