{% extends '../rentals.html' %}
{% load rental_tags %}

{% block content %}
<div class="card text-end">
  <div class="card-header">
    <a class="btn btn-primary" href="{% url 'add-bow' %}">Add Bow</a>
  </div>
</div>
<table id="bow-table" class="table sortable table-striped">
  <thead>
    <tr>
      <th>VdGSA #</th>
      <th>Size</th>
      <th>Maker</th>
      <th>Value</th>
      <th>Attached to (viol)</th>
      <th>Program</th>
      <th>State</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for bow in object_list %}
    <tr>
      <td><a href="{% url 'bow-detail' pk=bow.pk %}">{{bow.vdgsa_number}}</a></td>
      <td>{{bow.size}}</td>
      <td>{{bow.maker}}</td>
      <td>{{bow.value | currency}}</td>
      <td>{{bow.viol_num | default_if_none:""}}</td>
      <td>{{bow.program | default_if_none:""}}</td>
      <td>{{bow.state}}</td>
      <td>{{bow.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
