<p>
  A confirmation email has been sent to <b>{{new_email}}</b>. <br>
  Visit the link in the confirmation email to complete your login email address change. <br>
  Try checking your spam folder if you don't see the email.
</p>
