<script>
  $().ready(function() {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    //console.log('tooltipTriggerList',popoverTriggerList)
  })
</script>
<div class="card mt-3">
<div class="card-body"> 
  History
  {% comment %} TODO: Add filter - Show Rentals or Show All  {% endcomment %}
  {% if history.all %}

  <table class="table">
  <tr>
    <th>Event</th>
    <th>On</th>
    <th>Note</th>
    <th>Viol</th>
    <th>Bow</th>
    <th>Case</th>
    <th>Renter</th>
    <th>Rental Start</th>
    <th>Rental End</th>
  </tr>
  {% for event in history.all %}
  <tr>
    <td>{% if event.event == 'Rented' or event.event == 'Renewed' %}
          <a href="{% url 'rental-detail' pk=event.pk  %}" >{{ event.event }}</a>
        {% else %}
          {{ event.event }}
        {% endif  %}
      </td>
    <td>{{event.created_at}}</td>
    <td>
      {% if event.notes %}

        <button type="button" class="btn" data-bs-toggle="popover" data-bs-trigger="focus"
          title="{{ event.event }}" data-bs-content='{{ event.notes | safe }}'><i class="bi bi-music-note"></i></button>

      {% endif  %}
    </td>
    <td>{% if event.viol_num %}<a href="{% url 'viol-detail' pk=event.viol_num.pk  %}" >{{ event.viol_num }}</a>{% endif  %}</td>
    <td>{{ event.bow_num|default_if_none:"" }}</td>
    <td>{{ event.case_num|default_if_none:""}}</td>
    <td>{% if event.renter_num %}<a href="{% url 'renter-info' pk=event.renter_num.id  %}" >{{ event.renter_num.first_name }} {{ event.renter_num.last_name }}</a> {% endif  %}</td>
    <td>{{ event.rental_start|default_if_none:"" }}</td>
    <td>{{ event.rental_end|default_if_none:"" }}</td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  None found
  {% endif  %}
</div>
</div>