{% extends '../rentals.html' %}
{% load rental_tags %}
{% block content %}

<div class="card text-end">
  <div class="card-header">
  <div className="buttonbar-ctr d-flex justify-content-around ">
  ({{object.status}})
    {% if object.status == RentalState.rented%}
    <a href="{% url 'rental-renew' object.entry_num  %}" class="btn btn-primary" >Renew rental</a> 
    <a href="{% url 'rental-return' object.entry_num %}" class="btn btn-primary" >Return from rental</a> 
    {% endif%}
    <a href="{% url 'rental-update' object.entry_num  %}" class="btn btn-primary" >Edit</a> 
 </div> </div> </div>





<div class="container border mt-3 mb-3 p-3">
  <div class="row">
    <div class="col">
      {% comment %} <p class="h3">{{object.entry_num}}</p> {% endcomment %}

      <p class="h3">{{object.renter_num.first_name}} {{object.renter_num.last_name}}</p>
      <p>email: {{object.renter_num.username}}</p>
      <p>
          {{object.renter_num.address_line_1}}<br>
          {% if object.renter_num.address_line_2 %}Phone: {{object.renter_num.address_line_2}}<br>{% endif%}
          {{object.renter_num.address_city}},{{object.renter_num.address_state}} 
          {{object.renter_num.address_postal_code}}<br>
          {{object.renter_num.address_country}}<br>
      </p>
      <p>Phone: {{object.phone1}}</p>
      {% if object.phone2 %}<p>Phone: {{object.phone2}}</p> {% endif%}

      <p class="h3">{{object.notes}}</p>
      <p class="h3">{{object.rental_start|default_if_none:""}}</p>
      <p class="h3">{{object.rental_end|default_if_none:""}}</p>
      <p class="h3">      
        {% if object.contract_scan %}
          <a href="/uploads/{{ object.contract_scan.document }}" target="_blank" title="Click for Rental Agreement"><i class="bi bi-file-earmark-text"></i></a>
        {% else %}
          <a href="{% url 'rental-upload' object.entry_num %}" >Attach Rental Agreement</a>
        {% endif%}
      </p>
    </div>
  </div>

<div class="row">
    <div class="col">
    {% if object.viol_num %}
      {{ object.viol_num }}
    {% else %}
      <a href="{% url 'rental-attach' %}?entry_num={{ object.entry_num }}&item=viol" class="btn btn-outline-success btn-sm float-end" >Attach a Case</a> 
    {% endif%}


    </div>
    <div class="col">
     
     {% if object.case_num%}
      {{ object.case_num }}
      {% else %}
      <a href="{% url 'rental-attach' %}?entry_num={{ object.entry_num }}&item=case" class="btn btn-outline-success btn-sm float-end" >Attach a Case</a> 
     {% endif%}

    </div>
    <div class="col">
      {% if object.bow_num %}
      {{ object.bow_num }}
      {% else %}
        <a href="{% url 'rental-attach' %}?entry_num={{ object.entry_num }}&item=bow" class="btn btn-outline-success btn-sm float-end" >Attach a Bow</a> 
      {% endif%}

    </div>
  </div>

</div>


    {% history_table history %}





{% endblock %}