{% extends '../rentals.html' %}
{% load django_bootstrap_icons %}

{% block content %}

<table id="viol-table" class="table table-striped">
  <thead>
    <tr>
      <td></td>
      <td>Renter</td>
      <td>Viol</td>
      <td>Bow</td>
      <td>Case</td>
      <td>Rental Start</td>
      <td>Rental End</td>
      <td></td>

    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>
        <a href="{% url 'rental-detail' pk=item.pk %}" title="View rental details"> {% bs_icon 'eye' %} </a>
      </td>
      <td>
       {{item.renter_num}}
      </td>
      <td>
      {% if item.viol_num %}
        <a href="{% url 'viol-detail' item.viol_num.viol_num %}">{{item.viol_num}}</a>
      {% else  %}
        {{item.viol_num}}
      {% endif  %}
      </td>
      <td>
      {% if item.bow_num %}
        <a href="{% url 'bow-detail' item.bow_num.bow_num %}">{{item.bow_num}}</a>
      {% else  %}
        {{item.bow_num}}
      {% endif  %}
      </td>
      <td>
      {% if item.case_num %}
        <a href="{% url 'case-detail' item.case_num.case_num %}">{{item.case_num}}</a>
      {% else  %}
        {{item.case_num}}
      {% endif  %}
      </td>
      <td>{{ item.rental_start }}</td>
      <td>{{ item.rental_end }}</td>
      <td class="text-nowrap">
        <a href="{% url 'rental-return' item.entry_num %}" title="Return">{% bs_icon 'arrow-return-left' %}</a>
        <a href="{% url 'rental-renew' item.entry_num %}" title="Renew">{% bs_icon 'arrow-clockwise' %}</a>
        <a href="{% url 'soft-delete' 'RentalHistory' item.entry_num %}" title="Remove">{% bs_icon 'trash' %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
