<html>
  <head></head>
  <body>

    <p>Hello {{member.first_name.strip}} {{member.last_name.strip}}, </p>
    <p>
      Thank you for being a member of the Viola da Gamba Society of America! You
      are receiving this email because your membership {{message.strip}}.
    </p>
    <p>How do you renew your membership?</p>
    <p>
      Go to <a href="https://hume.vdgsa.org">hume.vdgsa.org</a> and click 'Renew
      your membership'. You can also get there through the My Account button on
      the Members' Area.
    </p>
    <p>
      Once you've renewed, you'll be back in your account, so you might as well
      check to make sure that your information is up-to-date. You can edit your
      contact information if it's changed, update your Teaching or Commercial
      Member profile (if you have one), or even update your privacy preferences
      (towards the bottom).
    </p>
    <p>
      If you still want to renew by mail, there's a slightly different process.
      On the Login page, instead of choosing one of the buttons, click on
      "Benefits of Membership." At the bottom of that page is a printable
      membership form that you can download, print out, and mail to me. Note
      that our dues changed in 2024: $40 for members in the US, Canada, and
      all other countries in North, South, and Central America; $45 for members
      outside these areas. Note that you won't be able to access the Members'
      Area of the website until I receive and process your check.
    </p>
    <p>
      One important change with our new website is that your membership becomes
      inactive from the website's perspective the day after your membership
      expires. We still consider you an active member, but you can't access the
      Members' Area on the website until you renew. You don't want to miss any
      of the other wonderful things accessible only to members on the website,
      so renew now! Don't forget you can contact me if you have questions or
      problems at
      <a href="mailto:membership@vdgsa.org">membership@vdgsa.org</a>.
    </p>
    <p>Nancy Washer</p>
    <p>Membership Secretary</p>
    <p>VdGSA</p>

    <a href="https://{{link}}"
      ><img src="https://{{logo}}" alt="VdGSA Logo"
    /></a>

  </body>
</html>
