{% extends 'base.html' %}
{% block content %}

<h2>Edit Class</h2>

<form method="post">
  {% csrf_token %}
  {% include 'utils/form_body.tmpl' %}

  <div class="mt-2">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

<div class="divider my-4"></div>

<h3>DANGER</h3>
<form method="post" action="{% url 'delete-class' pk=object.pk %}" id="delete-class-form">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Delete this class</button>
</form>


<script>
$().ready(function() {
  $('#delete-class-form').on('submit', function() {
    if (!confirm('Are you sure you want to delete this class?')) {
      return false;
    }
  });
});
</script>
{% endblock %}

{% block page_style %}
<style>

.divider {
  border-top: 1px solid rgb(200, 200, 200);
}

</style>
{% endblock %}
