{% extends 'base.html' %}
{% block content %}

{% load vdgsa_tags %}
{% load conclave_tags %}

<h3>Conclave {{conclave_config.year}} Registration Entries</h3>

<div>
  <a href="{% url 'download-registration-entries' conclave_config_pk=conclave_config.pk %}" download>
    Download Registration Entries CSV
  </a>
</div>

<div>
  <a href="{% url 'download-class-first-choices' conclave_config_pk=conclave_config.pk %}" download>
    Download Class First Choices CSV
  </a>
</div>

<div class="mt-3"><b>Stats</b></div>
<div># of Registrations: {{stats.num_registrations}}</div>
<div>Program Counts:</div>
<ul>
  {% for program, count in stats.program_counts.items %}
  <li>{{program}}: {{count}}</li>
  {% endfor %}
</ul>
<div># of Single Rooms: {{stats.num_single_rooms}}</div>
<div># of Double Rooms: {{stats.num_double_rooms}}</div>
<div>T-Shirt Orders:</div>
<ul>
  {% for size, count in stats.tshirt_size_counts.items %}
  <li>{{size}}: {{count}}</li>
  {% endfor %}
</ul>

<table class="table">
  <thead>
    <tr>
      <td>User</td>
      <td>Program</td>
      <td>Finalized</td>
    </tr>
  </thead>
  <tbody>
    {% for entry in object_list %}
    <tr class="entry-row"
        onclick="window.location = '{% url 'conclave-basic-info' conclave_reg_pk=entry.pk %}'">
      <td>{{entry.user | show_name_and_email}}</td>
      <td>{{entry.program}}</td>
      <td>{{entry.is_finalized}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block page_style %}
<style>
.entry-row:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
</style>
{% endblock %}
