{% extends '../rentals.html' %}

{% block content %}
<hr>
<div class="container border mt-3 mb-3 p-3">
<form method="post" action="{% url 'rental-attach' %}">
  {% csrf_token %}



  <input type='hidden' name="entry_num" value="{{ rental.entry_num }}"/>

  <div class="row">
    <div class="col">
      <p class="h3">{{rental}} - Add {{item}}</p>
    </div>
  </div>



 <div class="row mb-3 ">
    {% if item == 'case' %}
    <div class="form-group col-md-6">
     <label for="case_num">Select Case </label>
      {% if avail_cases.all %}
      <select class="form-control" name="case_num" id="case_num">
        {% for v in avail_cases.all %}
        <option value="{{v.pk}}">{{v}}</option>
        {% endfor %}
   
      </select>
    {% else %}
      <p>No cases available</p>
    {% endif %}
    </div>
    {% endif %}

    {% if item == 'bow'%}
    <div class="form-group col-md-6">
     <label for="bow_num">Select Bow </label>
      {% if avail_bows.all %}
      <select class="form-control" name="bow_num" id="bow_num">
        {% for v in avail_bows.all %}
        <option value="{{v.pk}}">{{v}}</option>
        {% endfor %}
  
      </select>
    {% else %}
      <p>No bows available</p>
    {% endif %}
    </div>
  </div>

    {% endif %}


 <div class="row">
  <div class="col">
    <div class="form-row">    
      <input  class="btn btn-primary" type="submit" value="Attach">
    </div>
    </div>
  </div>
</form>
</div>

{% endblock %}
