{% extends '../rentals.html' %}
{% load rental_tags %}
{% block content %}



<div class="container border mt-3 mb-3 p-3">
  <div class="row">
    <div class="col">
      <p>To Rent Out {{viol}} , please select a user</p>
    </div>
  </div>

  {% if waiting %}
  <div class="row">
    <div class="col">
      <p>Waiting list</p>
      {% for wait in waiting %}
      <div>{{wait}}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <form id="rental-create-form" method="post" action="{% url 'viol-rentOut' %}">
  {% csrf_token %}
    <input type='hidden' name="viol_num" value="{{ viol.viol_num }}" />
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="user_id">Select User </label>
        <input class="form-control" id="user-input" placeholder="Start typing to Search">
      </div>
    </div>

    {% include '../users/user-results-partial.html' %}
    
    
    <div class="form-row">
      <div class="form-group col-md-6">
    {% if viol_num %}
      <label for="viol_num">Viol </label>
      <div>{{viol}}</div>
    {% else %}
      <label for="viol_num">Select Viol </label>
      <select class="form-control" name="viol_num" id="viol_num">
        {% for v in avail_viols.all %}
        <option value="{{v.pk}}">{{v.get_size_display}} - VdGSA #{{v.vdgsa_number}} by: {{v.maker}}</option>
        {% empty %}
        <option>None available</option>
        {% endfor %}
      </select>

  {% endif %}
    </div>
  </div>

    <div class="mt-2">
      <button type="submit" class="btn btn-primary">Rent Out</button>
      <a class="float-end" href="{{request.META.HTTP_REFERER}}">Go back</a>
    </div>
  </form>
</div>
{% endblock %}

