{% load conclave_tags %}{% load vdgsa_tags %}{% load humanize %}
Dear {{registration_entry.user | show_name}},
{% comment %}
HACK: We will postprocess the rendered template to strip out blank lines and
leading whitespace. To keep a blank line, put a <br> tag and nothing else on that line.
{% endcomment %}
<br>
Thank you for registering for Conclave! Below is a summary of your registration.
Please retain it for future reference. Look it over. If you find any problems,
wish to make any changes to your Conclave registration, or have questions about it,
please get in touch with us right away.
<br>
You will receive a separate email regarding receipt and confirmation of your
COVID vaccination certificate.
<br>
Miami University requests that you use the links below to inform them of special
dietary needs and to register for a parking permit:
<br>
SPECIAL DIET DISCLOSURE FORM:
Self-Disclosure Dietary Needs Form: https://miamioh.formstack.com/forms/self_disclosure_dietary_needs_form_
<br>
ELECTRONIC PARKING PERMIT:
Viola da Gamba: https://miamioh.nupark.com/v2/portal/eventregister/58480047-803c-45f9-8f16-ec15b89f41ac
<br>
We're looking forward to seeing you at Miami University for the VdGSA’s 60th annual Conclave!
<br>
Sincerely,
VdGSA Conclave and Web Teams
<br>
<br>
Program
=======
{{registration_summary.program | format_program}}
{% if class_selection_required %}
<br>
Work-Study
==========
Applying for a work-study position: {{registration_summary.applying_for_work_study | yesno:'Yes,No'}}
{% endif %}

{% if registration_summary.instruments %}
<br>
Instruments
===========
{% for instrument in registration_summary.instruments %}- {{instrument}}
{% endfor %}
{% endif %}

{% if registration_summary.classes %}
<br>
Classes
=======
  {% if registration_summary.classes.flexible_class_preferences %}
    {% for pref in registration_summary.classes.flexible_class_preferences %}
    - {{forloop.counter | ordinal}} Choice: {{pref}}
    {% endfor %}
  <br>
  {% endif %}

  {% with registration_summary.classes.per_period_class_preferences as classes %}
    {% if classes %}
      {% for period, prefs in classes.items %}
      {% if prefs %}
      {{period | ordinal}} Period
        {% for pref in prefs %}
        - {{forloop.counter | ordinal}} Choice: {{pref}}
        {% endfor %}
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if registration_summary.classes.freebie_preferences %}
  4th Period Freebie
    {% for pref in registration_summary.classes.freebie_preferences %}
    - {{forloop.counter | ordinal}} Choice: {{pref}}
    {% endfor %}
  {% endif %}
{% endif %}

{% if registration_summary.housing %}
<br>
Housing
=======
{% for item in registration_summary.housing %}
- {{item}}
{% endfor %}
{% endif %}
<br>
T-Shirts
========
{% if registration_summary.tshirts %}
  {% for item in registration_summary.tshirts %}
    1. {{item}}
  {% endfor %}
{% else %}
No T-Shirts
{% endif %}
<br>
________________________________________________________________________
<br>
<br>
Summary of Charges So Far
=========================
{% for charge in charges_summary.charges %}
{{charge.display_name}}: {{charge.amount}}
{% endfor %}

{% if charges_summary.work_study_scholarship_amount %}
Work-Study Scholarship (If Awarded*): -{{conclave_config.work_study_scholarship_amount}}
{% endif %}

{% if charges_summary.apply_housing_subsidy %}
Limited-Income Housing Subsidy (If Available): -{{conclave_config.housing_subsidy_amount}}
{% endif %}
<br>
*Subtotal:* {{charges_summary.subtotal}}

{% if charges_summary.apply_canadian_discount %}
Canadian Exchange Rate Discount: -{{conclave_config.canadian_discount_percent}}%
{% endif %}
*Total:* ${{charges_summary.total}}
<br>
{% if charges_summary.work_study_scholarship_amount %}
  *Work-Study positions will be awarded by June 15. Work-Study applicants
  will not be charged until positions are finalized.
{% endif %}
