{% load conclave_tags %}{% load vdgsa_tags %}{% load humanize %}
Dear {{registration_entry.user | show_name}},
{% comment %}
HACK: We will postprocess the rendered template to strip out blank lines and
leading whitespace. To keep a blank line, put a <br> tag and nothing else on that line.
{% endcomment %}
<br>
Thank you for registering for Conclave! Below is a summary of your registration.
<br>
Program
=======
{{registration_summary.program | format_program}}
<br>
{% if class_selection_required %}
Work-Study
==========
Applying for a work-study position: {{registration_summary.work_study | yesno:'Yes,No'}}
{% endif %}

{% if registration_summary.instruments %}
<br>
Instruments
===========
{% for instrument in registration_summary.instruments %}- {{instrument}}
{% endfor %}
{% endif %}

{% if registration_summary.classes %}
<br>
Classes
=======
  {% if registration_summary.classes.wants_beginners_plus_class %}
  - Beginners+ Class
  {% endif %}
  {% if registration_summary.classes.flexible_class_preferences %}
    {% for pref in registration_summary.classes.flexible_class_preferences %}
    - {{forloop.counter | ordinal}} Choice: {{pref}}</li>
    {% endfor %}
  <br>
  {% endif %}

  {% with registration_summary.classes.per_period_class_preferences as classes %}
    {% if classes %}
      {% for period, prefs in classes.items %}
      {% if prefs %}
      {{period | ordinal}} Period
        {% for pref in prefs %}
        - {{forloop.counter | ordinal}} Choice: {{pref}}
        {% endfor %}
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if registration_summary.classes.freebie_preferences %}
  4th Period Freebie
    {% for pref in registration_summary.classes.freebie_preferences %}
    - {{forloop.counter | ordinal}} Choice: {{pref}}
    {% endfor %}
  {% endif %}
{% endif %}

{% if registration_summary.housing %}
<br>
Housing
=======
{% for item in registration_summary.housing %}
- {{item}}
{% endfor %}
{% endif %}
<br>
T-Shirts
========
{% if registration_summary.tshirts %}
  {% for item in registration_summary.tshirts %}
    1. {{item}}
  {% endfor %}
{% else %}
No T-Shirts
{% endif %}
<br>
________________________________________________________________________
<br>
<br>
Summary of Charges So Far
=========================
{% for charge in charges_summary.charges %}
{{charge.display_name}}: {{charge.amount}}
{% endfor %}

{% if charges_summary.apply_work_study_scholarship %}
Work-Study Scholarship (If Awarded*): -{{conclave_config.work_study_scholarship_amount}}</td>
{% endif %}

{% if charges_summary.apply_housing_subsidy %}
Limited-Income Housing Subsidy (If Available): -{{conclave_config.housing_subsidy_amount}}
{% endif %}
<br>
*Subtotal:* {{charges_summary.subtotal}}

{% if charges_summary.apply_canadian_discount %}
Canadian Exchange Rate Discount: -{{conclave_config.canadian_discount_percent}}%
{% endif %}
*Total:* ${{charges_summary.total}}
<br>
{% if charges_summary.apply_work_study_scholarship %}
  *Work-Study positions will be awarded by June 15. Work-Study applicants
  will not be charged until positions are finalized.
</div>
{% endif %}
<br>
Sincerely,
VdGSA Conclave and Web Teams
