{% extends 'base.html' %}
{% block content %}

{% load vdgsa_tags %}

<h2 id="registration-landing-header">
  {{request.user | show_name}},
  Welcome to Conclave {{conclave_config.year}} Registration!
  {% if conclave_config.phase == 'late' %}
  (Late)
  {% endif %}
</h2>

{% if not request.user.subscription_is_current %}
<div data-testid="membership_renewal_message">
  Your membership is not up to date. Please visit the
  <a data-testid="accounts_link" href="{% url 'current-user-account' %}">My Account</a> page,
  renew your membership, and then return here to register.
</div>
{% elif conclave_config.phase == 'closed' and not perms.conclave_registration.conclave_team %}
<div data-testid="registration_closed_message">
  Registration for this year's conclave has closed.
</div>
{% else %}

<div class="row">
  <div class="col-md-8">
    <p>
      As you apply for Conclave, remember that you can find more complete information
      on the <a href="https://www.vdgsa.org/conclave-2021">Conclave Brochure</a>.
      Please have an idea of which programs and courses you're interested in
      before beginning registration.
    </p>

    <p>
      The contact information from your membership account will be used for Conclave.
      If you'd like to change it, please do so on the
      <a href="{% url 'current-user-account' %}">My Account</a> section of the website.
    </p>

    <p>
      Once you select your program, you'll go to a series of pages that will need
      to be filled out and saved. Clicking the yellow "Save and Continue" button
      on the bottom of each page will take you through them sequentially; you can
      navigate to any page by clicking on the left-hand menu.
    </p>

    <p>
      If you select a programs other than Regular, please be aware that there may
      be more requirements listed on the
      <a href="https://www.vdgsa.org/conclave-2021-programs">Programs page</a>.
    </p>

    <p>
      If you have any questions when applying, please contact
      the <a href="https://www.vdgsa.org/contact-us">Conclave Managers or Website Committe</a>.
    </p>
  </div>
</div>

<form method="post">
  {% csrf_token %}
  <div class="row mt-4">
    <div class="col-auto ">
      {% include 'utils/form_field.tmpl' with field=choose_program_form.program %}
    </div>
  </div>

  <div class="row mt-2">
    <div id="faculty-registration-password" class="col-auto">
      {% include 'utils/form_field.tmpl' with field=choose_program_form.faculty_registration_password %}
    </div>
  </div>

  <div class="mt-2">
    <button type="submit" class="btn btn-primary">Start Registration</button>
  </div>

  {% if form.non_field_errors %}
  <div class="non-field-errors">
  {% for err in form.non_field_errors %}
    <p class="form-error">{{ err }}</p>
  {% endfor %}
  </div>
  {% endif %}
</form>
{% endif %}

<script>
$().ready(function() {
  if ($('#id_program').val() === 'faculty_guest_other') {
    $('#faculty-registration-password').show();
  }

  $('#id_program').on('change', function(event) {
    if (event.target.value === 'faculty_guest_other') {
      $('#faculty-registration-password').show();
    }
    else {
      $('#faculty-registration-password').hide();
    }
  });
});
</script>
{% endblock %}

{% block page_style %}
<style>
  #faculty-registration-password {
    display: none;
  }
</style>
{% endblock %}
