{% extends 'base.html' %}
{% load vdgsa_tags %}

{% block page_body_wrapper %}
<div class="px-2 py-1">
  <a id="sidebar-toggle" href="#">Menu</a>
</div>
<div class="d-flex" id="wrapper">
  <div id="sidebar">
    <div id="sidebar-wrapper" class=" collapse-show bg-white">
      <div class="list-group">
        <a
          href="{% url 'conclave-basic-info' conclave_reg_pk=registration_entry.pk %}"
          class="list-group-item list-group-item-action"
        >Misc Info</a>
        <a
          href="{% url 'conclave-work-study' conclave_reg_pk=registration_entry.pk %}"
          class="list-group-item list-group-item-action"
        >Work Study</a>
        <a
          href="{% url 'conclave-instruments-bringing' conclave_reg_pk=registration_entry.pk %}"
          class="list-group-item list-group-item-action"
        >Instruments</a>
        <a
          href="{% url 'conclave-class-selection' conclave_reg_pk=registration_entry.pk %}"
          class="list-group-item list-group-item-action"
        >Classes</a>
        <!-- We don't need room and board until 2022 -->
        <!-- <a
          href="{% url 'conclave-housing' conclave_reg_pk=registration_entry.pk %}"
          class="list-group-item list-group-item-action"
        >Room and Board</a> -->
        <a
          href="{% url 'conclave-tshirts' conclave_reg_pk=registration_entry.pk %}"
          class="list-group-item list-group-item-action"
        >T-Shirts</a>
        <a
          href="{% url 'conclave-payment' conclave_reg_pk=registration_entry.pk %}"
          class="list-group-item list-group-item-action"
        >Payment</a>
      </div>
    </div>
  </div>

  <div id="page-content-wrapper">
    <div id="page-body" class="container-fluid mb-3">
      {% with conclave_config=registration_entry.conclave_config %}
        {% if perms.conclave_registration.conclave_team or conclave_config.is_open %}
          {% if conclave_config.phase == 'late' %}
          {% endif %}
          {% block content %}{% endblock %}
        {% elif conclave_config.phase == 'closed' %}
          <div data-testid="registration_closed_message">
            Registration for this year's conclave has closed.
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>

<!-- Sidebar Toggle Script -->
<!-- Source: https://github.com/StartBootstrap/startbootstrap-simple-sidebar -->
<script>
  $("#sidebar-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("collapsed");
  });
</script>
{% endblock %}

{% block page_style %}
<style>
/* Source: https://github.com/StartBootstrap/startbootstrap-simple-sidebar */

@media only screen and (max-width: 600px) {
  #wrapper {
    overflow-x: hidden;
  }
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -12rem;
  -webkit-transition: margin .1s ease-out;
  -moz-transition: margin .1s ease-out;
  -o-transition: margin .1s ease-out;
  transition: margin .1s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 12rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.collapsed #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.collapsed #sidebar-wrapper {
    margin-left: -12rem;
  }
}
</style>
{% endblock %}
