{% extends 'registration/registration_base.html' %}
{% block content %}

{% load vdgsa_tags %}
{% load conclave_tags %}

<h3>Class Selection</h3>

{% if form.non_field_errors %}
  <div class="non-field-errors">
  {% for err in form.non_field_errors %}
    <div class="form-error alert alert-danger" role="alert">{{err}}</div>
  {% endfor %}
  </div>
{% endif %}

<div>
  {% if registration_entry.program == 'regular' %}
    Full time participants in the regular curriculum may choose classes for any
    two or three periods (plus an optional fourth class from among the
    "freebie" offerings). Part time participants in the regular curriculum my
    choose classes in any one period
  {% elif registration_entry.program == 'beginners' %}
    Participants in the Beginners program who want to add a class
    may choose classes in any one period other than second period.
  {% elif registration_entry.is_advanced_program %}
    Participants in the CC, AP, or SP programs who want to add one or two
    classes may choose classes in any period that isn't the period their
    program meets during (CC meets third period, SP meets second period, etc.).
  {% endif %}
</div>

<form method="post" class="mt-3">
  <div id="hide-classes-button-wrapper">
    <a href="#class-list" data-bs-toggle="collapse" aria-controls="class-list">
      Show/hide class descriptions
    </a>
  </div>

  <div id="class-selection-wrapper">
    <div id="class-list" class="collapse show">
      <h3>Class Descriptions</h3>
      <div class="accordion accordion-flush" id="class-periods-accordion">
      {% for period, classes in classes_by_period.items %}
        <div class="accordion-item">
          <h2
            class="accordion-header"
            id="class-period-{{forloop.counter}}-header"
          >
            <button
              class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#class-period-{{forloop.counter}}-collapse"
              aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
              aria-controls="class-period-{{forloop.counter}}-collapse"
            >
              {{period | format_period_long}}
            </button>
          </h2>
          <div
            id="class-period-{{forloop.counter}}-collapse"
            class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
            aria-labelledby="class-period-{{forloop.counter}}-header"
            data-bs-parent="#class-periods-accordion"
          >
            <div class="accordion-body">
              <table class="table">
                <tbody>
                {% for class_ in classes %}
                  <tr>
                    <td>
                      <div class="row">
                        <div class="class-name">{{class_.name}}</div>
                      </div>
                      <table class="class-info-table">
                        <tr>
                          <td class="class-info-label">Level:</td>
                          <td class="class-info-cell">{{class_.level | format_level_list}}</td>
                        </tr>
                        <tr>
                          <td class="class-info-label">Instructor:</td>
                          <td class="class-info-cell">{{class_.instructor}}</td>
                        </tr>
                      </table>
                      <a data-bs-toggle="collapse" href="#class-{{class_.pk}}-description" aria-expanded="false" aria-controls="class-{{class_.pk}}-description">
                        Show Description
                      </a>
                      <div id="class-{{class_.pk}}-description" class="collapse">{{class_.description}}</div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <div id="class-choices">
      {% csrf_token %}
      <div class="period-header fs-4 mt-2">
        1st Period: {{registration_entry.conclave_config.first_period_time_label}}
      </div>
      <div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period1_choice1 label='Choice 1'%}
          {% include 'utils/small_select.tmpl' with field=form.period1_choice1_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period1_choice2 label='Choice 2'%}
          {% include 'utils/small_select.tmpl' with field=form.period1_choice2_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period1_choice3 label='Choice 3'%}
          {% include 'utils/small_select.tmpl' with field=form.period1_choice3_instrument label='Instrument Preference'%}
        </div>
      </div>
      {% if registration_entry.program != 'beginners' and registration_entry.program != 'seasoned_players' %}
      <div class="period-header fs-4 mt-2">
        2nd Period: {{registration_entry.conclave_config.second_period_time_label}}
      </div>
      <div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period2_choice1 label='Choice 1'%}
          {% include 'utils/small_select.tmpl' with field=form.period2_choice1_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period2_choice2 label='Choice 2'%}
          {% include 'utils/small_select.tmpl' with field=form.period2_choice2_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period2_choice3 label='Choice 3'%}
          {% include 'utils/small_select.tmpl' with field=form.period2_choice3_instrument label='Instrument Preference'%}
        </div>
      </div>
      {% endif %}
      {% if registration_entry.program != 'consort_coop' %}
      <div class="period-header fs-4 mt-2">
        3rd Period: {{registration_entry.conclave_config.third_period_time_label}}
      </div>
      <div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period3_choice1 label='Choice 1'%}
          {% include 'utils/small_select.tmpl' with field=form.period3_choice1_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period3_choice2 label='Choice 2'%}
          {% include 'utils/small_select.tmpl' with field=form.period3_choice2_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period3_choice3 label='Choice 3'%}
          {% include 'utils/small_select.tmpl' with field=form.period3_choice3_instrument label='Instrument Preference'%}
        </div>
      </div>
      {% endif %}
      <div class="period-header fs-4 mt-2">
        4th Period: {{registration_entry.conclave_config.fourth_period_time_label}}
      </div>
      <div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period4_choice1 label='Choice 1'%}
          {% include 'utils/small_select.tmpl' with field=form.period4_choice1_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period4_choice2 label='Choice 2'%}
          {% include 'utils/small_select.tmpl' with field=form.period4_choice2_instrument label='Instrument Preference'%}
        </div>
        <div class="choice-wrapper">
          {% include 'utils/small_select.tmpl' with field=form.period4_choice3 label='Choice 3'%}
          {% include 'utils/small_select.tmpl' with field=form.period4_choice3_instrument label='Instrument Preference'%}
        </div>
      </div>

      <div class=me-2>
        {% include 'utils/form_field.tmpl' with field=form.comments %}
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save and continue</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block page_style %}
{{block.super}}
<style>
.period-header {
  font-weight: bold;
}

.choice-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.choice-wrapper > *:first-child {
  flex-grow: 1;
}

.choice-wrapper > * {
  margin-right: .5rem;
}

@media only screen and (min-width: 600px) {
  #class-selection-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  #class-choices {
    width: 45%;
    flex-grow: 1;
  }

  #class-list {
    margin-top: 0;
    position: sticky;
    top: 0;
    overflow: auto;
    height: 100vh;

    width: 55%;

    border-left: 1px solid rgb(220, 220, 220);
    padding-left: .5rem;
  }
}

.class-name {
  font-weight: bold;
}

.class-info-label {
  font-weight: bold;
}

.class-info-cell {
  padding-left: 1rem;
}
</style>
{% endblock %}
