{% extends 'registration/registration_base.html' %}
{% block content %}

{% load vdgsa_tags %}

<h3>Work-Study</h3>

<form method="post">
  {% csrf_token %}

  <div class="row mt-3">
    <div class="col-md-8">
      Are you applying for a work-study position?
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% include 'utils/form_field.tmpl' with field=form.wants_work_study %}
    </div>
  </div>


  <div id="work-study-application-wrapper">
    <h4 class="mt-3">Work-Study Application</h4>

    <div class="row mt-3">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.phone_number label='Phone number' %}
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-8">
        Can you receive text messages at this number?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.can_receive_texts_at_phone_number %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Have you been to Conclave before (in-person or online)?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.has_been_to_conclave %}
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-8">
        Have you been a custos at Conclave before?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.has_done_work_study %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Are you a full-time student?
        If yes, what school? What degree are you working toward,
        and when do you currently expect to graduate?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.student_info %}
      </div>
    </div>

    <h4 class="mt-4">Time Committment and Travel Plans</h4>

    <div class="row mt-4 mb-2">
      <div class="col-md-8" style="border: 1px solid slategray; padding: .5rem .75rem">
        All custodes are expected on site at Conclave at least from 10am on the opening Sunday to 1pm on the
        closing Sunday. We will have our kickoff / custos orientation meeting at 10am on Sunday. Setting up
        signage, setting up and running registration, helping people move in and out of the dorms, and cleaning up
        after everyone else leaves are vital parts of the Custos contribution. Exceptions can be made, but we need
        to know in advance so we can plan.
        <br>
        Please take a moment to explore the travel options available to you, and if you're flying, keep in mind that
        you'll also need travel time to get from the airport to campus.
        <br>
        There are a few openings available for custodes to arrive a day or two early (on Friday or Saturday) before
        Conclave, in exchange for helping with setup before everyone else arrives. This can be a great option if
        time zones or other travel logistics make it difficult for you to arrive on time for the 10am kickoff on
        Sunday.
      </div>
    </div>

    <div class="row mt-4 mb-2">
      <div class="col-md-8">
        Will you be able to arrive at Conclave before 10am on Sunday morning?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.can_arrive_before_first_meeting %}
      </div>
    </div>

    <div class="row mt-4 mb-2">
      <div class="col-md-8">
        Early arrival on Friday or Saturday: please indicate here if you would *like* to
        arrive early and help out (whether or not you indicated above that you would
        *need* to arrive early in order to be on time on Sunday)
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.early_arrival %}
      </div>
    </div>

    <div class="row mt-4 mb-2">
      <div class="col-md-8">
        Will you be able to stay on site at Conclave until 1pm on Sunday afternoon?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.can_stay_until_sunday_afternoon %}
      </div>
    </div>

    <div class="row mt-4 mb-2">
      <div class="col-md-8">
        Anything else you'd like us to know now about your travel plans?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.other_travel_info %}
      </div>
    </div>

    <h4 class="mt-4">Custos Duties</h4>

    <div class="row mt-4 mb-2">
      <div class="col-md-8">
        Please indicate at least two or three Custos jobs that you would like to do and/or
        think you'd be particularly good at
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.job_preferences %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Are there any jobs not listed above that you think you'd be good at?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.other_jobs %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Why do you think you'd be good at the tasks you indicated?
        Please list any relevant experience.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.relevant_job_experience %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Do you plan to have a car on campus that you
        would be willing to use for Custos-related errands?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.has_car %}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        Do you have any other particular skills or experiences that you
        think would be helpful for Conclave? (Optional)
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.other_skills %}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        Is there anything else you'd like us to know? (Optional)
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.other_info %}
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Save and continue</button>
  </div>
</form>

<script>
  $().ready(function() {
    let errors = $('.form-field-errors .errorlist li');
    if (errors.length) {
      errors[0].scrollIntoView({block: 'center'});
    }
  });

  radio_button_hide('wants_work_study', '#work-study-application-wrapper', {
    show_values: ['yes'],
    on_change: function(value) {
      console.log('HIIIIII', value);
      // Adapted from https://stackoverflow.com/questions/38178158/disable-required-tag-in-hidden-divs
      if (value === 'yes') {
        $('#work-study-application-wrapper').find(':input').each(function() {
          let field = $(this);
          if (this.hasAttribute('was-required')) {
            field.data('required', field.prop('was-required'));
          }
        });
      }
      else if (value === 'no') {
        $('#work-study-application-wrapper').find(':input').each(function() {
          let field = $(this);
          field.data('was-required', field.prop('required'));
          field.prop('required', false);
        });
      }
    }
  });
</script>
{% endblock %}
