{% extends 'registration/registration_base.html' %}
{% block content %}

{% load vdgsa_tags %}

<h3>Work-Study</h3>

<form method="post">
  {% csrf_token %}

  <div class="row mt-3">
    <div class="col-md-8">
      Are you applying for a work-study position?
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% include 'utils/form_field.tmpl' with field=form.wants_work_study %}
    </div>
  </div>


  <div id="work-study-application-wrapper">
    <h4 class="mt-3">Work-Study Application</h4>
    <div class="row mt-3">
      <div class="col-md-8">
        We'll use your full name and email address from the
        <a href="{% url 'current-user-account' %}">My Account</a> section of the website. <br>
        If you would like to specify a nickname and/or pronouns for us to use,
        here's a place for that. (Optional)
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.nickname_and_pronouns %}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.phone_number label='Phone number' %}
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-8">
        Can you receive text messages at this number?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.can_receive_texts_at_phone_number %}
      </div>
    </div>

    <div class="row mt-3 mb-1">
      <div class="col-md-8">
        What is your home time zone? If you won't be in your home time zone during
        Conclave, please specify both using the "other" field, so that we won't
        accidentally contact you in the middle of your night!
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% for radio in form.home_timezone %}
        {% if not forloop.last %}
        <div class="form-check">
          {{radio | add_classes:"form-check-input"}}
          <label for="{{radio.id_for_label}}" class="form-check-label">
            {{radio.choice_label}}
          </label>
        </div>
        {% else %}
        <div class="d-flex align-items-center">
          <div class="form-check me-2">
            {{radio | add_classes:"form-check-input"}}
            <label for="{{radio.id_for_label}}" class="form-check-label">
              {{radio.choice_label}}
            </label>
          </div>
          <div class="flex-grow-1">
            {{form.other_timezone | add_classes:"form-control form-control-sm"}}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="form-field-errors mt-1">
          {{form.home_timezone.errors}}
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Have you been to Conclave before (in-person or online)?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.has_been_to_conclave %}
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-8">
        Have you been a custos at Conclave before?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.has_done_work_study %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Are you a full-time student?
        If yes, what school? What degree are you working toward,
        and when do you currently expect to graduate?
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.student_info %}
      </div>
    </div>

    <div class="row mt-4 mb-2">
      <div class="col-md-8">
        As you know, since Conclave is fully online this year,
        the custodes' tasks will also be fully online.
        Some preparatory jobs will be needed mostly in the weeks leading
        up to Conclave; others will be done during the week of Conclave
        and will be needed at specific times. Which tasks are you most
        interested in? Please choose AT LEAST TWO.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.job_preferences %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        Why do you think you'd be good at the tasks you indicated?
        Please list any relevant experience.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.relevant_job_experience %}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        Do you have any other particular skills or experiences that you
        think would be helpful for online Conclave? (Optional)
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.other_skills %}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        Is there anything else you'd like us to know? (Optional)
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% include 'utils/form_field.tmpl' with field=form.other_info %}
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Save and continue</button>
  </div>
</form>

<script>
  $().ready(function() {
    let errors = $('.form-field-errors .errorlist li');
    if (errors.length) {
      errors[0].scrollIntoView({block: 'center'});
    }
  });

  radio_button_hide('wants_work_study', '#work-study-application-wrapper', {
    show_values: ['yes'],
    on_change: function(value) {
      console.log('HIIIIII', value);
      // Adapted from https://stackoverflow.com/questions/38178158/disable-required-tag-in-hidden-divs
      if (value === 'yes') {
        $('#work-study-application-wrapper').find(':input').each(function() {
          let field = $(this);
          if (this.hasAttribute('was-required')) {
            field.data('required', field.prop('was-required'));
          }
        });
      }
      else if (value === 'no') {
        $('#work-study-application-wrapper').find(':input').each(function() {
          let field = $(this);
          field.data('was-required', field.prop('required'));
          field.prop('required', false);
        });
      }
    }
  });
</script>
{% endblock %}
