{% extends '../rentals.html' %}
{% load rental_tags %}

{% block content %}
<style>
.dataTables_filter {
   display: none;
}
</style>

<div class="card ">
  <div class="card-header">
    <div class="float-start">
      <h3 >Cases</h3>
    </div>
    <div class="float-end">
      {% if  perms.accounts.rental_manager %} 
      <a class="btn btn-primary " href="{% url 'add-case' %}">Add Case</a>
    {% endif %}
    </div>
  </div>
 </div>




</div>
<div class="card">
  <div class="card-body">
    <form method="get" action="{% url 'list-cases' %}">
      <div class="row">
        <div class="col">
          <label for="filter">Status:</label>
          <select class="form-control" name="state" id="filter" onchange="javascript:this.form.submit()">
            <option value="attached" {% ifequal 'attached' filter.state  %}selected{% endifequal %}>Attached</option>
            <option value='rented' {% ifequal 'rented' filter.state  %}selected{% endifequal %}>Rented</option>
            <option value='retired' {% ifequal 'retired' filter.state  %}selected{% endifequal %}>Retired</option>
            <option value='unattached' {% ifequal 'unattached' filter.state  %}selected{% endifequal %}>Unattached</option>
            <option value='all' {% ifequal 'all' filter.state  %}selected{% endifequal %}>All</option>
          </select>
        </div>
        <div class="col">
          <label for="filter">Search:</label>
          <input type="text" class="form-control" id="searchbox">
        </div>
      </div>
    </form>



    <table id="cases-table" class="table table-striped">
      <thead>
        <tr>
          <th>VdGSA #</th>
          <th>Size</th>
          <th>Maker</th>
          <th>Value</th>
          <th>Attached to (viol)</th>
          <th>Program</th>
          <th>Custodian</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td>
            <a href="{% url 'case-detail' pk=item.pk %}">{{item.vdgsa_number}}</a>
          </td>
          <td>{{item.get_size_display}}</td>
          <td>{{item.maker}}</td>
          <td style="text-align: right;">{{item.value | dollars}}</td>
          <td>
            {% if item.viol_num %}
            <a href="{% url 'viol-detail' pk=item.viol_num.pk %}">{{item.viol_num | default_if_none:""}}</a>
            {% endif %}</td>
          <td>{{item.program}}</td>
          <td>

            {% if item.viol_num %}
              {% if item.viol_num.storer %}
                <a href="{% url 'cust-detail' item.viol_num.storer.pk %}" >{{item.viol_num.storer.first_name}} {{item.viol_num.storer.last_name}}</a>
                {% endif %}
            {% else %}
                {% if item.storer %}
                <a href="{% url 'cust-detail' item.storer.pk %}" >{{item.storer.first_name}} {{item.storer.last_name}}</a>
              {% endif %}
            {% endif %}
           </td>
          </td>
          <td>
              {% if item.viol_num %}
              {{item.viol_num.status}}
              {% else %}
              {{item.calcStatus}}
              {% endif %}</td>
              
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div> 
<script>
  $(document).ready(function () {
    $('#cases-table').DataTable({
      "paging": false,
      "info": false
    });
    $("#searchbox").keyup(function() {
      $('#cases-table').dataTable().fnFilter(this.value);
    });    
  });

</script>
{% endblock %}
