{% extends '../rentals.html' %}
{% load rental_tags %}
{% block content %}
<p>Custodian</p>

{% comment %} 
<div class="card text-end">
  <div class="card-header">

  </div>
</div> 
{% endcomment %}

<div class="container border mt-3 mb-3 p-3">
  <div class="row">
    <div class="col">
      <p class="h3">{{object.first_name}} {{object.last_name}}</p>
      <p>email: <a href="mailto:{{object.username}}">{{object.username}}</a></p>
      <p>
          {{object.address_line_1}}<br>
          {% if object.address_line_2 %}Phone: {{object.address_line_2}}<br>{% endif%}
          {{object.address_city}},{{object.address_state}} 
          {{object.address_postal_code}}<br>
          {{object.address_country}}<br>
      </p>
      <p>Phone: {{object.phone1}}</p>
      {% if object.phone2 %}<p>Phone: {{object.phone2}}</p> {% endif%}
      <p>Record last modified: {{object.last_modified}}</p>

   
    </div>
  </div>

<div class="container border mt-3 mb-3 p-3">
  <div class="row">
    <div class="col">
      <p class="h3">Viols</p>
      <table id="viol-table" class="table sortable table-striped">
        <thead>
          <tr>
            <th>VdGSA #</th>
            <th>Size</th>
            <th># Strings</th>
            <th>Maker</th>
            <th>Value</th>
            <th>Program</th>
            <th>Status</th>
          
          </tr>
        </thead>
        <tbody>
          {% for item in viols %}
          <tr>
            <td>
              <a href="{% url 'viol-detail' pk=item.pk %}">{{item.vdgsa_number}}</a>
            </td>
            <td>{{item.get_size_display}}</td>
            <td>{{item.strings}}</td>
            <td>{{item.maker}}</td>
            <td style="text-align: right;">{{item.value | dollars}}</td>
            <td>{{item.program}}</td>
            <td>{{item.status}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
   
      <div class="h3">Unattached Bows</div>
      <table id="custodian-bow-table" class="table table-striped">
        <thead>
          <tr>
            <th>Custodian</th>
            <th>Location</th>
            <th>Bows</th>
          </tr>
        </thead>
        <tbody>
          {% for item in bows %}
          {% if item.storer %}
          <tr>
            <td><a href="{% url 'cust-detail' item.storer.pk %}">{{item.storer.first_name}} {{item.storer.last_name}}</a></td>
            <td>{{item.storer.address_city}}, {{item.storer.address_state}}</td>
            <td><a href="{% url 'bow-detail' item.pk %}">{{item}}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      
      <div class="h3">Unattached Cases</div>
      <table id="custodian-case-table" class="table table-striped">
        <thead>
          <tr>
            <th>Custodian</th>
            <th>Location</th>
            <th>Case</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cases %}
          {% if item.storer %}
          <tr>
            <td><a href="{% url 'cust-detail' item.storer.pk %}">{{item.storer.first_name}} {{item.storer.last_name}}</a></td>
            <td>{{item.storer.address_city}}, {{item.storer.address_state}}</td>
            <td><a href="{% url 'case-detail' item.pk %}">{{item}}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <p><a class="float-end" href="{{request.META.HTTP_REFERER}}">Go back</a></p>
  </div>



{% endblock %}
