{% extends '../rentals.html' %}
{% load rental_tags %}

{% block content %}
<style>
.dataTables_filter {
   display: none;
}
</style>

<div class="card">
  <div class="card-body">

      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <label for="filter">Search:</label>
          <input type="text" class="form-control" id="searchbox">
        </div>
      </div>

    <table id="custodian-table" class="table table-striped">
      <thead>
        <tr>
          <th>Custodian</th>
          <th>Location</th>
          <th># of Viols</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        {% if item.storer %}
        <tr>

          <td><a href="{% url 'cust-detail' item.storer %}">{{item.storer__first_name}} {{item.storer__last_name}}</a></td>
          <td>{{item.storer__address_city}}, {{item.storer__address_state}}</td>
          <td>{{item.total}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div> 
<script>
  $(document).ready(function () {
    $('#custodian-table').DataTable({
      "paging": false,
      "info": false
    });
    $("#searchbox").keyup(function() {
      $('#custodian-table').dataTable().fnFilter(this.value);
    });    
  });

</script>
{% endblock %}
