/* Note: Fonts are loaded and set globally in base.html */

#nav-links {
    background-color: hsl(47, 96%, 63%);
}

#logo {
    font-family: Amphion;
    color: rgb(128, 128, 128);
    font-weight: bold;
}

#nav-links .nav-item {
    padding: .25rem .625rem;
}

#nav-links .nav-item .nav-link {
    color: rgb(158, 33, 40);
    font-weight: bold;
}

#page-body {
    margin: 1rem;
}

/* Used in forms */

/* The way we use Django to generate form html makes it harder to apply
   bootstrap classes to form inputs. Additionally, bootstrap's "form-control"
   class makes inputs take up the full width, which would then force us to
   use the grid to shrink them down.
   Instead, us this .input-wrapper class on a div wrapping input and textarea
   tags. */
.input-wrapper {
    margin: .25rem 0;
}

.input-wrapper input {
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="password"],
.input-wrapper input[type="email"],
.input-wrapper input[type="number"],
.input-wrapper textarea {
    padding: .25rem .5rem;
}

.input-wrapper textarea {
    /* Together with width 100% on label, this will make
       textareas take up the fill width on smaller screens but not get too
       large on bigger ones. */
    max-width: 500px;
    width: 100%;
}

/* \Used in forms */
