/* Note: Fonts are loaded and set globally in base.html */

#nav-links {
    background-color: hsl(47, 96%, 63%);
}

#logo {
    font-family: Amphion;
    color: rgb(128, 128, 128);
    font-weight: bold;
    font-size: 1.5rem;
}

#nav-links .nav-item {
    padding: .25rem .625rem;
}

#nav-links .nav-item .nav-link {
    color: hsl(357, 65%, 37%);
    font-weight: bold;
}

/* Bootstrap overrides ----------------------------------------------------- */

a:link,
a:visited,
a:hover {
    color: hsl(357, 65%, 37%)!important;
}

a:active {
    color: hsl(357, 65%, 45%)!important;
}

.btn {
    border-radius: 0!important;
}

.btn-primary {
    background-color: hsl(47, 96%, 70%)!important;
    border-color: hsl(47, 96%, 70%)!important;
    color: black!important;
}

.btn-primary:hover {
    background-color: hsl(47, 96%, 63%)!important;
    border-color: hsl(47, 96%, 63%)!important;
}

.btn-danger {
    background-color: hsl(357, 65%, 70%)!important;
    border-color: hsl(357, 65%, 70%)!important;
    color: black!important;
}

.btn-danger:hover {
    background-color: hsl(357, 65%, 65%)!important;
    border-color: hsl(357, 65%, 65%)!important;
}

.cancel-button {
    border: 1px solid #aaaaaa!important;
    color: black;
}

.form-control {
    border-radius: 0!important;
}
