body {
    font-family: sans-serif, Arial, Helvetica;
}

#nav-links .nav-item {
    padding: .25rem .625rem;
}

#page-body {
    margin: 1rem;
}


/* Used in forms */
/* The way we use Django to generate form html makes it harder to apply
   bootstrap classes to form inputs. For now, we'll just define some
   style rules (lifted from bootstrap) here to apply globally to input tags. */
.input-wrapper {
    margin: .125rem 0;
}

.input-wrapper input {
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="password"],
.input-wrapper input[type="email"],
.input-wrapper input[type="number"],
.input-wrapper textarea {
    padding: .25rem .5rem;
}

.input-wrapper textarea {
    max-width: 95%;
}

.form-control.no-full-width {
    /* SUUUUPER HACK to make bootstrap inputs not take the full width of the page automatically */
    flex: none!important;
    width: auto!important;
}
/* \Used in forms */
