{% load vdgsa_tags %}
{% load conclave_tags %}

{% for period, classes in classes_by_period.items %}
<div class="mt-4 period-wrapper">
  <table class="table">
    <thead>
      <tr><th>{{period | format_period_long}}</th></tr>
    </thead>
    <tbody>
    {% for class_ in classes %}
      <tr
        class="class-row"
        {% if allow_editing %}
        onclick="window.location = '{% url 'edit-class' pk=class_.pk %}'"
        {% endif %}
      >
        <td>
          <div class="row">
            <div class="class-name">{{class_.name}}</div>
          </div>
          <table class="class-info-table">
            <tr>
              <td class="class-info-label">Level:</td>
              <td class="class-info-cell">{{class_.level | format_level_list}}</td>
            </tr>
            <tr>
              <td class="class-info-label">Instructor:</td>
              <td class="class-info-cell">{{class_.instructor}}</td>
            </tr>
          </table>
          <div>{{class_.description}}</div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

<style scoped>
{% if allow_editing %}
.class-row:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
{% endif %}
.class-name {
  font-weight: bold;
}

.class-info-label {
  font-weight: bold;
}

.class-info-cell {
  padding-left: 1rem;
}
</style>
