<div>

  <div class="row">
    <div class="col">
        <table class="table table-sm table-light">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">VdGSA #</th>
            <td>{{item.vdgsa_number}}</td>
            <th scope="row">Program</th>
            <td>{{item.program}}</td>
            </tr>

          {% if  item.get_cname == 'Viol' %}
            <tr>
            <th scope="row"># Strings</th>
            <td>{{item.strings}} </td>
            <th scope="row">Renter</th>
            <td>{{item.renter}}</td>
            </tr>

          {% else %}
            <tr>
            <th scope="row">Attached to Viol</th>
            <td colspan="3">
            {% if  item.viol_num %}
              <a href="{% url 'viol-detail' item.viol_num.viol_num %}" title="Go to Viol">{{item.viol_num}} </a>
            {% endif %}
            </td>
            </tr>
          {% endif %}


            <tr>
            <th scope="row">Size</th>
            <td>{{item.get_size_display}}</td>
            <th scope="row">Value</th>
            <td>{{item.value}}</td>

            </tr>

            <tr>
            <th scope="row">Condition</th>
            <td>{{item.state}}</td>
            <th scope="row">Custodian</th>
            <td>
              
              {% if  item.storer %}
              <a href="{% url 'cust-detail' item.storer.pk %}" >{{item.storer.first_name}} {{item.storer.last_name}}</a>
              {% endif %}
            </td>
            </tr>
            
            <tr>
            <th scope="row">Maker</th>
            <td>{{item.maker}}</td>
            <th scope="row">Date Added</th>
            <td>{{item.accession_date}}</td>
            </tr>

            <tr>
            <th scope="row">Description</th>
            <td colspan="3">{{item.description}}</td>
            </tr>

            <tr>
            <th scope="row">Provenance </th>
            <td>{{item.provenance}}</td>

            <th scope="row">Reserved</th>
            <td>
              {% if item.waitingList %}
              {% for wl in item.waitingList.all %}
                <a href="{% url 'wait-detail' wl.pk %}">
                 {% if wl.renter_num %}
                  {{wl.renter_num}}
                 
                 {% else %}
                 
                  {{wl.first_name}} 
                  {{wl.last_name}} 
                 {% endif %}
                 </a>
              {% endfor %}
              {% endif %}
            </td>
            </tr>

            <tr>
            <th scope="row">Notes</th>
            <td colspan="3">{{item.notes}}</td>
            </tr>

        </tbody>
        </table>
    </div>
  </div> 



</div>