{% extends 'rentals.html' %}
{% block content %} Waiting List
<table id="viol-table" class="table table-striped">
  <thead>
    <tr>
      <td>VdGSA</td>

    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      {% comment %}
      <td>
        <a href="{% url 'viol-detail' pk=item.pk %}">{{item.vdgsa_number}}</a>
      </td>
      <td>{{item.size}}</td>
      <td>{{item.strings}}</td>
      <td>{{item.maker}}</td>
      <td>{{item.program}}</td>
      <td>{{item.state}}</td>
      {% endcomment %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
