{% extends 'rentals.html' %}
{% block content %} Waiting List
<table id="viol-table" class="table table-striped">
  <thead>
    <tr>
      <td>Waiting list Id</td>
      <td>Requester</td>
      <td>Instrument</td>
      <td>Size</td>
      <td>Date</td>
      <td></td>

    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>
        {{item.entry_num}}
      </td>
      <td>{{item.renter_num}}</td>
      <td>
      {% if item.viol_num %}
        <a href="{% url 'viol-detail' pk=item.viol_num.pk %}">{{item.viol_num}}</a>
      {% endif %} 
      </td>
      <td>{{item.size}}</td>
      <td>{{item.date_req}}</td>
      <td class="text-nowrap">
        <a href="{% url 'soft-delete' 'WaitingList' item.entry_num %}" title="Remove"><i class="bi bi-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
