{% extends 'rentals.html' %}
{% load django_bootstrap_icons %}
{% block content %} Waiting List
<table id="viol-table" class="table table-striped">
  <thead>
    <tr>
      <td>VdGSA</td>

    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>
        <a href="{% url 'viol-detail' pk=item.pk %}">{{item.entry_num}}</a>
      </td>
      <td>{{item.renter_num}}</td>
      <td><a href="{% url 'viol-detail' pk=item.viol_num.pk %}">{{item.viol_num}}</a></td>
      <td>{{item.size}}</td>
      <td>{{item.date_req}}</td>
      <td class="text-nowrap">
        <a href="{% url 'soft-delete' 'WaitingList' item.entry_num %}" title="Remove">{% bs_icon 'trash' %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
