{% load vdgsa_tags %}

{% with widget=field.field.widget input_type=field.field.widget.input_type %}
{% if input_type == 'checkbox' and not widget.allow_multiple_selected %}
  <div class="form-check">
    {{field | add_classes:"form-check-input"}}
    <label for="{{field.id_for_label}}" class="form-check-label">
      {% firstof label field.label %}
    </label>
  </div>

  <div class="form-field-errors mt-1">
    {{field.errors}}
  </div>
{% elif input_type == 'select' %}
  {% comment %} No label tag if label is empty. {% endcomment %}
  {% if label or field.label %}
  <label for="{{field.id_for_label}}" class="form-label">
    {% firstof label field.label %} <br>
  </label>
  {% endif %}
  {{field | add_classes:"form-select"}}

  <div class="form-field-errors mt-1">
    {{field.errors}}
  </div>
{% elif input_type == 'radio' or input_type == 'checkbox' and widget.allow_multiple_selected %}
  {% if label or field.label %}
  <label class="form-label">{% firstof label field.label %}</label>
  {% endif %}
  {% for radio in field %}
  <div class="form-check">
    {{radio | add_classes:"form-check-input"}}
    <label for="{{radio.id_for_label}}" class="form-check-label">
      {{radio.choice_label}}
    </label>
  </div>
  {% endfor %}
  <div class="form-field-errors mt-1">
    {{field.errors}}
  </div>

{% elif field.name == 'captcha' %}

  {% if label or field.label %}
    <label for="{{field.id_for_label}}" class="form-label">
      <br>
    </label>
  {% endif %}
  <div class="form-field-errors mt-1">
    {{field.errors}}
  </div>

 {{field}}

{% else %}
  {% comment %} No label tag if label is empty. {% endcomment %}
  {% if label or field.label %}
  <label for="{{field.id_for_label}}" class="form-label">
    {% firstof label field.label %} <br>
  </label>
  {% endif %}
  {{field | add_classes:"form-control"}}

  <div class="form-field-errors mt-1">
    {{field.errors}}
  </div>
{% endif %}
{% endwith %}
