{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load vdgsa_tags %}

<div id="membership-subscription-wrapper">
  {% with user=object form=membership_renewal_form MAX_NUM_FAMILY_MEMBERS=MAX_NUM_FAMILY_MEMBERS %}
  {% include 'user_account/membership_renewal.tmpl' %}
  {% endwith %}
</div>


{% if object.subscription is not None or perms.accounts.membership_secretary %}

<div class="mt-4" id="login-info-wrapper">
  <h2>Login Info</h2>
  <div><b>Email</b></div>
  <div class="row mb-2">
    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <input disabled id="current-username" class="form-control" value="{{object.username}}">
      </div>
    </div>
  </div>

  <a href="#change-email-form"
    id="show-change-email-form"
    data-bs-toggle="collapse"
    aria-expanded="false"
    aria-controls="change-email-form"
  >Change Email</a>

  <form
    id="change-email-form"
    class="collapse"
    method="post"
    action="{% url 'change-email-request' pk=object.pk %}"
  >
    {% include 'utils/form_body.tmpl' with form=change_email_form %}

    <div id="email-in-use-msg"></div>

    <div class="mt-2 mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        id="change-email-cancel-button"
        class="btn cancel-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#change-email-form"
        aria-controls="change-email-form"
      >
        Cancel
      </button>
    </div>
    <div id="change-email-msg"></div>
  </form>


  {% if object == request.user %}
  <!-- See https://getbootstrap.com/docs/5.0/utilities/spacing/ -->
  <div class="my-2">
    <a id="password-change-link" href="{% url 'password_change' %}">Change Password</a>
  </div>
  {% endif %}
</div>

<div class="mt-4">
  <h2>Profile</h2>
  <form id="user-profile-form" method="post" action="{% url 'user-profile' pk=object.pk %}">
    <div class='form-body-wrapper'>
      {% include 'user_account/user_profile_form.tmpl' with form=edit_profile_form %}
    </div>
  </form>
</div>

{% endif %}

<script src="https://js.stripe.com/v3/"></script>

<script>
$().ready(function() {
  setup_ajax_submit('change-email-form', {
    before_submit: function() {
      $('#email-in-use-msg').text('');
    },
    success: function(form, response_data) {
      if (response_data.status === 'form_validation_error') {
        update_form_body(form, response_data);
        return;
      }

      if (response_data.status === 'other_error' && response_data.extra_data.username_in_use) {
        $('#email-in-use-msg').text(
          `The username "${response_data.extra_data.requested_username}" is in use by another account.`
        );
      }

      if (response_data.extra_data.change_pending_msg) {
        $('#change-email-msg').html(response_data.extra_data.change_pending_msg);
      }

      if (response_data.extra_data.new_username) {
        $('#current-username').val(response_data.extra_data.new_username);
      }

      $('#id_new_email').val('');
    }
  });

  setup_ajax_submit('user-profile-form', {
    success: function(form, response_data) {
      if (response_data.status === 'form_validation_error') {
        update_form_body(form, response_data);
      }
      else if (response_data.status === 'success') {
        $('#user-profile-form .last-saved').text(
          `Saved at ${(new Date()).toLocaleTimeString()}`
        );
      }
    }
  });

  function on_purchase_subscription_form_submit(event) {
    event.preventDefault();
    disable_form_buttons(purchase_subscription_form);

    $.ajax(purchase_subscription_form.attr('action'), {
      type: 'POST',
      data: purchase_subscription_form.serialize(),
      success: function(response_data) {
        if (response_data.extra_data.stripe_session_id) {
          $('#purchase-subscription-form button[type=submit]').text('Redirecting');
          let stripe = Stripe('{{stripe_public_key}}');
          stripe.redirectToCheckout({
            sessionId: response_data.extra_data.stripe_session_id
          });
        }
        else {
          console.log(response_data);
          $('#membership-subscription-wrapper').html(response_data.rendered_form);
          $('#purchase-subscription-form').on('submit', on_purchase_subscription_form_submit);
          reenable_form_buttons(purchase_subscription_form);
        }
      },
      error: function(response) {
        console.log(response);
        // TODO: detect network/other errors and adjust message
        alert('An unexpected error occured');
        reenable_form_buttons(purchase_subscription_form);
      }
    });
  }

  let purchase_subscription_form = $('#purchase-subscription-form');
  purchase_subscription_form.on('submit', on_purchase_subscription_form_submit);
});
</script>

{% endblock %}

{% block page_style %}
<style>
  #valid-until-timestamp {
    color: hsl(357, 65%, 37%);
    font-weight: bold;
  }
</style>
{% endblock %}
