<!-- This page is shown to the user after the password reset email is sent. -->

{% extends 'base.html' %}
{% block content %}

<h3>Check Your Email</h3>
To finish resetting your password:
<ol>
  <li>
    Check your email for a message from us.
    Try checking your spam folder if you don't see it.
  </li>
  <li>Visit the link in the email and set your new password.</li>
</ol>

If you still haven't received the email, please visit the
<a href="{% url 'password_reset' %}">password reset</a> page to send it again.

{% endblock %}
