{% extends '../rentals.html' %}
{% load rental_tags %}{% load filters %}
{% block content %}

<div class="container border mt-3 mb-3 p-3">
  <div class="row">
    <div class="col">
      <p>Make Available {{viol}} </p>
    </div>
  </div>
</div>

<form id="viol-available-form" method="post" action="{% url 'viol-avail' viol.viol_num %}">

  {% include 'utils/form_body.tmpl' with form=form %}
  <input type='hidden' name="viol_num" value="{{ viol.viol_num }}"/>


  <div class="mt-2">
    <button type="submit" class="btn btn-primary">Make Available</button>
  </div>
</form>

{% endblock %}
