{% extends '../rentals.html' %}
{% load rental_tags %}

{% block content %}

<div class="card text-end">
  <div class="card-header">
    <a class="btn btn-primary" href="{% url 'add-viol' %}">Add Viol</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <form method="get" action="{% url 'list-viols' %}">
      <div class="row">
        <div class="col">
          <label for="filter">Instrument State:</label>
          <select class="form-control" name="state" id="filter" onchange="javascript:this.form.submit()">
            <option value="available" {% ifequal 'available' filter.state  %}selected{% endifequal %}>Available</option>
            <option value='rented' {% ifequal 'rented' filter.state  %}selected{% endifequal %}>Rented</option>
            <option value='retired' {% ifequal 'retired' filter.state  %}selected{% endifequal %}>Retired</option>
            <option value='all' {% ifequal 'all' filter.state  %}selected{% endifequal %}>All</option>
          </select>
        </div>
        <div class="col">
          <label for="size">Size:</label>
          <select class="form-control" name="size" id="size" onchange="javascript:this.form.submit()">
            {% for size in ViolSize %}
            <option value="{{ size }}" {% ifequal size filter.size  %}selected{% endifequal %}>{{size.label}}</option>
            {% endfor %}
            <option value="all" {% ifequal 'all' filter.size  %}selected{% endifequal %}>All</option>
            
          </select>
        </div>
        <div class="col">
          <label for="filter">Program Type:</label>
          <select class="form-control" name="program" id="program" onchange="javascript:this.form.submit()">
            <option value='regular' {% ifequal 'regular' filter.program  %}selected{% endifequal %}>Regular</option>
            <option value='select_reserve' {% ifequal 'select_reserve' filter.program  %}selected{% endifequal %}>Select
              Reserve</option>
            <option value='consort_loan' {% ifequal 'consort_loan' filter.program  %}selected{% endifequal %}>Consort Loan
            </option>
            <option value='all' {% ifequal 'all' filter.program  %}selected{% endifequal %}>All</option>
          </select>
        </div>
      </div>
    </form>
    <table id="viol-table" class="table sortable table-striped">
      <thead>
        <tr>
          <th>VdGSA #</th>
          <th>Size</th>
          <th># Strings</th>
          <th>Maker</th>
          <th>Value</th>
          <th>Program</th>
          <th>Reserved for</th>
          <th>Rental End</th>
          <th>Status</th>

        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td>
            <a href="{% url 'viol-detail' pk=item.pk %}">{{item.vdgsa_number}}</a>
          </td>
          <td>{{item.get_size_display}}</td>
          <td>{{item.strings}}</td>
          <td>{{item.maker}}</td>
          <td style="text-align: right;">{{item.value | dollars}}</td>
          <td>{{item.program}}</td>
          <td>
            {% if item.waitingList.all %}
              {% for wl in item.waitingList.all %}
                <a href="{% url 'wait-detail' wl.pk %}">
                 {% if wl.renter_num %}
                  {{wl.renter_num}}
                 {% else %}
                  {{wl.first_name}} 
                  {{wl.last_name}} 
                 {% endif %}
                 </a>
              {% endfor %}
            {% endif %}
          </td>
          <td>
            {% if item.renter %}
              {{item.rental_end_date}}
            {% endif %}
          </td>
          <td>{{item.status}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<script>
  $(document).ready(function () {
    $('#viol-table').DataTable({
      "paging": false,
      "info": false
    });
  });

</script>
{% endblock %}
