{% extends '../rentals.html' %}

{% block content %}
<script>
function filter_instruments() {
  let rented = $('#instrument-filter-rented').val().toLowerCase();

}
</script>
<script>
function filter_instruments() {
  let filter_instruments = $('#nstrument-filter-rented').val().trim().toLowerCase();
 
  });
}
</script>
<form>
  <div class="form-group">
    {% comment %} <label for="instrument-filter-rented">Status</label> {% endcomment %}
    <select class="form-control" id="instrument-filter-rented" onselect="filter_instruments">
      <option>Rented</option>
      <option>Available</option>
    </select>
  </div>
</div>
</form>


<table id="viol-table" class="table table-striped">
  <thead>
    <tr>
      <td>VdGSA number</td>
      <td>Size</td>
      <td># Strings</td>
      <td>Maker</td>
      <td>Program</td>
      <td>State</td>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>
        <a href="{% url 'viol-detail' pk=item.pk %}">{{item.vdgsa_number}}</a>
      </td>
      <td>{{item.size}}</td>
      <td>{{item.strings}}</td>
      <td>{{item.maker}}</td>
      <td>{{item.program}}</td>
      <td>{{item.state}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
