{% load vdgsa_tags %}
{% load conclave_tags %}
<div>
  {% if instrument.size == 'other' %}
  {{instrument.name_if_other}}
  {% else %}
  {{instrument.size | format_instrument_size}}
  {% endif %}
  ({{instrument.purpose | format_instrument_purpose}})
</div>
<div>I play this instrument: {{instrument.relative_level}}</div>
<div>Clefs: {{instrument.clefs | format_clef_list}}</div>
<div>
  <b>Comments:</b><br>
  {{instrument.comments}}
</div
<div>
  <a href="#" class="delete-instrument" data-instrumentpk="{{instrument.pk}}">
    Delete
  </a>
</div>
