{% load vdgsa_tags %}
{% load conclave_tags %}
<div>
  {% if instrument.size == 'other' %}
  {{instrument.name_if_other}}
  {% else %}
  {{instrument.size | format_instrument_size}}
  {% endif %}
</div>
<div>Level: {{instrument.level}}</div>
<div>Clefs: {{instrument.clefs | format_clef_list}}</div>
<div>
  <a href="#" class="delete-instrument" data-instrumentpk="{{instrument.pk}}">
    Delete
  </a>
</div>
