{% extends 'base.html' %}
{% block content %}

{% load filters %}

<h3>All Users</h3>

<div class="input-wrapper">
  <label class="label">
    Filter <br>
    <input
      type="text"
      id="user-filter-input"
      oninput="filter_users()"
    >
  </label>
</div>

{% if perms.accounts.membership_secretary %}
<div class="my-2" id="download-members-csv">
  <a href="{% url 'all-users-csv' %}" download>Download All</a>
</div>
{% endif %}

<table id="user-table" class="table table-striped">
  <thead>
    <tr>
      <td>Last Name</td>
      <td>First Name</td>
      <td>Email</td>
      <td>Membership Type</td>
      <td>Membership Expires</td>
      <td>Membership is Current</td>
      <td>Address</td>
      <td>Phone</td>
    </tr>
  </thead>
  <tbody>
    {% for user in object_list %}
    <tr
      class="
        user-row
        {% if not user.subscription_is_current %}
          subscription-not-current
        {% endif %}
        {% if not perms.accounts.membership_secretary %}
          readonly
        {% endif %}
      "
      {% if perms.accounts.membership_secretary %}
      onclick="window.location = '{% url 'user-profile' pk=user.pk %}'"
      {% endif %}
    >
      <td>{{user.last_name}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.username}}</td>

      {% if user.subscription is not None %}
      <td>{{user.subscription.membership_type}}</td>
      <td>
        {% format_datetime user.subscription.valid_until none_ok=True %}
      </td>
      {% else %}
      <td></td>
      <td></td>
      {% endif %}

      <td class="subscription-is-current-cell">{{user.subscription_is_current}}</td>

      <td>
        {{user.address_line_1}} <br>
        {% if user.address_line_2 %}
        {{user.address_line_2}} <br>
        {% endif %}
        {{user.address_city}}, {{user.address_state}} {{user.address_postal_code}} <br>
        {{user.address_country}}
      </td>

      <td>
        {{user.phone1}}
        {% if user.phone2 %}
        <br> {{user.phone2}}
        {{phone2}}
        {% endif %}
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>

<style>
  #user-table {
    border-collapse: collapse;
  }

  #user-table thead {
    font-weight: bold;
  }

  #user-table td, #user-table th {
    border: 1px solid lightgray;
  }

  #user-table td {
    padding: .125rem 1rem .125 .25rem;
  }

  .user-row:hover {
    cursor: pointer;
    background-color: lightcyan;
  }

  .user-row.readonly:hover {
    cursor: default;
    background-color: inherit;
  }

  .subscription-not-current .subscription-is-current-cell {
    background-color: lightcoral;
  }
</style>

<script>
function filter_users() {
  let filter_str = $('#user-filter-input').val().trim().toLowerCase();
  $('#user-table tbody tr').filter(function() {
    // Adapted from https://www.w3schools.com/jquery/jquery_filters.asp
    let include = $(this).text().toLocaleLowerCase().indexOf(filter_str) > -1;
    $(this).toggle(include);
  });
}
</script>

{% endblock %}
