{% extends 'base.html' %}
{% block content %}

{% load filters %}

<h3 data-testid="membership_directory_header">Membership Directory</h3>

<div class="mb-2">
  Viewing {{all_users | yesno:"all users,active users only"}}<br>
  <!-- This link will let us jump between "active users only" and "all users"
       note the "inverted" logic so that we go to whichever one we aren't on. -->
  <a
    id="all-users-toggle-link"
    href="{% url 'membership-secretary' %}?all_users={{all_users | yesno:"false,true"}}"
  >
    Show {{all_users | yesno:"active users only,all users"}}
  </a>
</div>

<div class="row mb-2">
  <div class="col-sm-6">
    <label for="user-filter-input" class="label">
      Filter
    </label>
    <input
      type="text"
      id="user-filter-input"
      class="form-control"
      oninput="debounce(filter_users, 200)()"
      disabled
    >
  </div>
</div>

{% if perms.accounts.membership_secretary %}
<div class="my-2" id="download-members-csv">
  <a href="{% url 'all-users-csv' %}?all_users={{all_users | yesno:"true,false"}}" download>
    Download {{all_users | yesno:"all users,active users"}} (CSV)
  </a>
</div>
{% endif %}

<div id="user-table-wrapper" class="table-responsive">
  <table id="user-table" class="table table-striped">
    <thead>
      <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Email</td>
        <td>Year Joined</td>
        <td>Membership Type</td>
        <td>Membership Expires</td>
        <td>Membership is Current</td>
        <td>Address</td>
        <td>Phone</td>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr
        class="
          user-row
          {% if not user.subscription_is_current %}
            subscription-not-current
          {% endif %}
          {% if not perms.accounts.membership_secretary %}
            readonly
          {% endif %}
        "
        {% if perms.accounts.membership_secretary %}
        onclick="window.location = '{% url 'user-account' pk=user.pk %}'"
        {% endif %}
      >
        <td>{{user.last_name}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.username}}</td>

        <td>{{user.subscription.years_renewed.0}}</td>

        {% if user.subscription is not None %}
        <td>{{user.subscription.membership_type}}</td>
        <td class="valid-until-cell">
          {% format_datetime user.subscription.valid_until none_ok=True %}
        </td>
        {% else %}
        <td></td>
        <td class="valid-until-cell"></td>
        {% endif %}

        <td class="subscription-is-current-cell">{{user.subscription_is_current}}</td>

        <td>
          {{user.address_line_1}} <br>
          {% if user.address_line_2 %}
          {{user.address_line_2}} <br>
          {% endif %}
          {{user.address_city}}, {{user.address_state}} {{user.address_postal_code}} <br>
          {{user.address_country}}
        </td>

        <td>
          {{user.phone1}}
          {% if user.phone2 %}
          <br> {{user.phone2}}
          {{phone2}}
          {% endif %}
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
function filter_users() {
  let filter_str = $('#user-filter-input').val().trim().toLowerCase();
  let include_inactive = !$('#active-user-filter').prop('checked');
  console.log(include_inactive);
  for (let item of $('#user-table tbody tr')) {
    let text_match = $(item).text().toLocaleLowerCase().indexOf(filter_str) > -1;
    let is_active = !$(item).hasClass('subscription-not-current');

    $(item).toggle(text_match && (is_active || include_inactive));
  }
}

function debounce(func, time_ms) {
  let wrapped_func = null;
  return function() {
    if (wrapped_func !== null) {
      clearTimeout(wrapped_func);
    }
    wrapped_func = setTimeout(func, time_ms);
  };
}

$().ready(function() {
  $('#user-filter-input').prop('disabled', false);
});
</script>

{% endblock %}


{% block page_style %}
<style>
  #user-table-wrapper {
    max-height: 90vh;
  }

  #user-table {
    border-collapse: collapse;
  }

  #user-table thead {
    font-weight: bold;
  }

  #user-table td, #user-table th {
    border: 1px solid lightgray;
  }

  #user-table td {
    padding: .125rem 1rem .125 .25rem;
  }

  .user-row:hover {
    cursor: pointer;
    background-color: lightcyan;
  }

  .user-row.readonly:hover {
    cursor: default;
    background-color: inherit;
  }

  .subscription-not-current .subscription-is-current-cell,
  .subscription-not-current .valid-until-cell {
    background-color: lightcoral;
  }
</style>
{% endblock %}
